.node {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.node p {
  flex: 1;
  text-wrap: nowrap;
  font-size: 14px;
}
.node span {
  font-size: 14px;
  color: var(--text-dimmed);
  flex: 1;
}

.joinable {
  width: min-content;
}
