<style>
.preloader {
  pointer-events: none;
  position: fixed;
  z-index: 5;
  height: 100vh;
  width: 100vw;
  background: var(--c-16);
  transition: all 1.25s var(--trans) 1.5s;
}

@keyframes logo-animation-first {
  0% {
    stroke-dashoffset: 589.7821044921875px;
    stroke-dasharray: 589.7821044921875px;
  }

  100% {
    stroke-dashoffset: 1179.564208984375px;
    stroke-dasharray: 589.7821044921875px;
  }
}

@keyframes logo-animation-second {
  0% {
    stroke-dashoffset: 110.46501922607422px;
    stroke-dasharray: 110.46501922607422px;
  }

  100% {
    stroke-dashoffset: 220.93003845214844px;
    stroke-dasharray: 110.46501922607422px;
  }
}

@keyframes preloader-out-animation {
  0% {
  }
  100% {
    left: 16px;
    transform: translate(0%, -50%);
    top: 40px;
  }
}
.preloader > div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.preloader.outter-animation {
  background: transparent;
}
.preloader.outter-animation div {
  animation: preloader-out-animation 1s var(--trans) 1.75s forwards;
}
.preloader svg {
  height: 72px;
  opacity: 0;
  transition: height 1s var(--trans) 1.75s, opacity 0s linear;
}

.preloader.outter-animation svg {
  height: 48px;
  opacity: 1;
}

.preloader > div > p {
  font-size: 48px;
  overflow: hidden;
  width: 0px;
  font-weight: 600;
  transition: width 0.5s var(--trans) 1s, font-size 1s var(--trans) 1.75s;
}

.preloader.outter-animation > div > p {
  font-size: 30px;
  width: 256px;
}

.preloader.outter-animation .logo-animation-first {
  animation: logo-animation-first 1s cubic-bezier(0.23, 1, 0.32, 1) 0s both;
}

.preloader.outter-animation .logo-animation-second  {
  animation: logo-animation-second 1s cubic-bezier(0.23, 1, 0.32, 1) 0s both;
}

.preloader.fast-animation svg {
  opacity: 1;
  transition: all 0.3s var(--trans);
}
.preloader.fast-animation {
  transition: all 0.3s var(--trans) 0.2s;
  opacity: 0;
}
.preloader.fast-animation .logo-animation-first {
  animation: logo-animation-first 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.preloader.fast-animation .logo-animation-second  {
  animation: logo-animation-second 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

</style>
<div class="preloader" style="z-index: 9;">
  <div class="flex flex-dir-row center" style="gap: 16px;">
    <svg viewBox="-11.439 -11.421 403.213 522.815" xmlns="http://www.w3.org/2000/svg">
      <g fill="none" stroke="#e8e8e8" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="15" stroke-width="12" transform="matrix(3.130766, 0, 0, 3.130766, -102.465179, -42.383404)">
        <path style="paint-order: markers stroke; stroke: #e8e8e8; stroke-width: 14.0541px;" d="M 101.029 151.687 C 104.583 140.367 103.311 126.12 111.702 117.729 C 125.54 103.891 145.608 96.295 150.177 77.627 C 153.035 65.951 143.679 57.123 126.238 49.704 C 95.979 38.811 65.978 27.81 36.102 16.917 M 150.838 169.855 C 120.962 158.962 90.961 147.961 60.702 137.068 C 43.261 129.649 33.905 120.821 36.763 109.145 C 41.332 90.477 61.662 82.62 75.238 69.044 C 83.63 60.652 82.357 46.405 85.911 35.085 M 36.102 16.917 L 75.094 68.892 M 111.783 117.796 L 150.838 169.855" class="logo-animation-first"></path>
        <path style="paint-order: markers stroke; stroke: #e8e8e8; stroke-width: 14.0541px;" d="M 125.234 51.047 C 102.473 105.997 84.364 80.48 61.201 136.4" class="logo-animation-second"></path>        
      </g>
    </svg>
    <p>Impactium</p>
  </div>
</div>
<script>
  $(window).one('load', function() {
    const visitedBefore = localStorage.getItem("visitedBefore");
  
    if (visitedBefore !== "true") {
      $('.preloader').addClass('outter-animation');
      setTimeout(() => {
        $('.preloader').remove();
      }, 4000);
      localStorage.setItem("visitedBefore", "true");
    } else {
      $('.preloader').addClass('fast-animation');
      $('header .logo').css('opacity', 1);
      setTimeout(() => {
        $('.preloader').remove();
      }, 500);
    }
  });
</script>