<style>
  .work-window {
    display: flex;
    flex-direction: column;
    height: calc(100% - 33px);
    width: calc(100% - 33px);
    padding: 16px;
    gap: 8px;
    border-top: 1px solid var(--c-36);
    border-left: 1px solid var(--c-36);
  }
  .default-alpha-block {
    background: var(--c-36);
    border-radius: 17px;
  }
</style>
<div class="work-window">
  <%- include(`${lang.debugPath}/views/modules/terminalGuild.ejs`, guild, lang) %>
</div>
