.main {
  max-width: var(--width-limit);
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}
.demo {
  margin: 8px 0;
}
.latency {
  outline: 1px solid var(--gray-400);
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  overflow: hidden;
}
.delete > div {
  display: flex;
  flex-direction: column;
}
.delete .unit {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap);
}
.safe_toggle_wrapper {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
  align-items: center;
  font-family: var(--font-mono);
  color: var(--text-dimmed);
}
.bypass {
  width: min-content;
}
.bypass > div {
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.bypass h1 {
  font-size: 28px;
}
.bypass > div > div {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
.input_group {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.result_wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: scroll;
  max-height: 258px;
  padding: 1px;
}
.result_wrapper .unit {
  display: flex;
  flex-direction: row;
  margin-right: 12px;
  justify-content: space-between;
  gap: 8px;
}
.encounters {
  outline: 1px solid var(--gray-400);
  background-color: var(--soft-black);
  height: 100%;
  width: 100%;
}