.delete {
  max-width: 30%;
}

.delete > div {
  display: flex;
  flex-direction: column;
}
.delete .unit {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: var(--gap);
}
.delete .unit .sub {
  flex: 1;
  display: flex;
  height: 36px;
  justify-content: space-around;
  flex-direction: column;
}
.delete .unit .sub p {
  color: var(--text-dimmed);
  font-size: 12px;
}
.delete .unit .sub .bold {
  font-weight: 500;
  color: var(--white);
  font-size: 14px;
}
.safe_toggle_wrapper {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
  align-items: center;
  font-family: var(--font-mono);
  color: var(--text-dimmed);
}
.bypass {
  width: min-content;
}
.bypass > div {
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.bypass > div > div {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}