._ {
  display: flex;
  border: 1px solid var(--accent-3);
  border-radius: var(--border-s);
  background: var(--soft-black);
  flex-direction: column;
  overflow: hidden;
}

._ div {
  cursor: pointer;
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 8px 12px;
  border-bottom: 1px solid var(--accent-3);
  transition: all .3s var(--transition);
}

._ span {
  color: var(--geist-green);
  font-size: var(--text-small);
}

._ div:last-child {
  border: unset;
}

._ div:hover,
.active {
  background: var(--black);
}

._ img {
  height: 32px;
}

._ p {
  font-size: 18px;
  flex: 1;
}