#root {
  width: 100vw;
  display: flex;
  justify-content: center;
}
main {
  height: 100vh;
  padding: 80px 16px 0 16px;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video, button, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: none;
	outline: none;
	-webkit-tap-highlight-color: none;
	border: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}


:root {
  --c-0: #000000;
  --c-16: #161616;
  --c-24: #242424;
  --c-32: #323232;
  --c-48: #484848;
  --c-64: #646464;
  --c-80: #808080;
  --c-96: #929292;
  --text-color-white: #e8e8e8;
  --w: #e8e8e8;
  --trans: cubic-bezier(.21,.29,0,.94);

  --hammer: url("https://cdn.impactium.fun/ux/hammer.svg");
  --hammer-accent: #F14C50;
  --casual: url("https://cdn.impactium.fun/ux/casual.svg");
  --casual-accent: rgb(163, 255, 163);
  --defence: url("https://cdn.impactium.fun/ux/defence.svg");
  --defence-accent: #417FFD;
  --killer: url("https://cdn.impactium.fun/ux/killer.svg");
  --killer-accent: #F2DE4C;
  --event: url("https://cdn.impactium.fun/ux/event.svg");
  --event-accent: #E465FD;
  --donate: url("https://cdn.impactium.fun/ux/donate.svg");
  --donate-accent: #72E4F2;
}
.gap {
  gap: 15px;
}
.gap-10 {
  gap: 10px;
}
.absolute {
  position: absolute;
}
.flex {
  display: flex;
}
.inflex {
  display: inline-flex;
}
.flex-dir-row {
  display: flex;
  flex-direction: row;
}
.flex-dir-column {
  display: flex;
  flex-direction: column;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-v {
  display: flex;
  align-items: center;
}
.center-h {
  display: flex;
  justify-content: center;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
.none {
  display: none;
}
.txt-sh {
  text-shadow: 0px 3px 8px #212121;
}
.w-ful {
  width: 100vw;
}
.h {
  height: 100vh;
}
.invert {
  filter: invert(100%);
}
.grid {
  display: grid;
}
.columns-1 {
  grid-template-columns: repeat(1, 1fr);
}
.columns-2 {
  grid-template-columns: repeat(2, 1fr);
}
.columns-3 {
  grid-template-columns: repeat(3, 1fr);
}
.columns-4 {
  grid-template-columns: repeat(4, 1fr);
}
.rows-1 {
  grid-template-rows: repeat(1, 1fr);
}
.rows-2 {
  grid-template-rows: repeat(2, 1fr);
}
.rows-3 {
  grid-template-rows: repeat(3, 1fr);
}
.rows-4 {
  grid-template-rows: repeat(4, 1fr);
}
.pointer {
  cursor: pointer !important;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 0.3px;
}
ul {
list-style: none;
}
.no-pointers {
  pointer-events: none;
}