.page {
  align-items: flex-start;
  gap: 16px;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.default {
  width: 100%;
  background: var(--soft-black);
  border-radius: var(--border-m);
  overflow: hidden;
  box-shadow: var(--shadow-border);
}

.wrapper {
  padding: 12px;
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.default h2 {
  background: var(--black);
  font-size: var(--text-medium);
  padding: 0 1em;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid var(--accent-2);
}

.group {
  max-width: 600px;
}

.group p {
  font-size: var(--text-small);
  font-weight: 400;
  margin-bottom: 8px;
}

.wrapper li::before {
  height: 22px;
  content: url('https://cdn.impactium.fun/ui/dummy/square-small.svg');
}
.wrapper li {
  font-size: var(--text-small);
  display: flex;
  align-items: center;
  font-weight: 500;
}

.wrapper ul {
  margin-bottom: 24px;
}

.banner_uploader {
  width: 100%;
}

.banner_uploader .bottom {
  display: flex;
  gap: 16px;
}

.banner_preview {
  overflow: hidden;
  width: 96px;
  height: 96px;
  background: var(--geist-background);
  border: var(--geist-border);
  border-radius: var(--border-s);
}

.banner_preview img {
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.preview {
  flex: 0.3;
}

.preview img {
  height: 42px;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.preview h6 {
  font-size: var(--text-large);
  font-weight: 600;
}