logs
*.log
npm-debug.log*
*.png
*.webp
*.jpg
*.jpeg
*/cockroach-data/*
cockroach-data/*
*/cockroach-data
redis-data
*.pem
server/resourse_pack/*
node_modules/
*/node_modules/*
*/node_modules
*.zip
.npm
.eslintcache
.env
.env.prod
.env.dev
.next
.nuxt
.code-workspace