<style>
  .basic-nav {
    flex: none;
    padding: 16px 8px;
    gap: 8px;
    background-color: rgb(75 75 75 / 5%);
    backdrop-filter: blur(15px);
    border-top: 1px solid var(--c-36);
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--c-36);
    position: relative;
  }
  .basic-nav .mode-chooser {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    border-radius: 17px;
    padding: 6px;
    background: var(--c-36);
  }
  .basic-nav .mode-chooser img {
    height: 32px;
  }
  .basic-nav .mode-chooser::before {
    content: "";
    position: absolute;
    background: var(--w);
    display: flex;
    height: 0px;
    width: 0px;
    border-radius: 0 4px 4px 0;
    left: 0;
    transition: all 0.2s var(--trans);
  }
  .basic-nav .mode-chooser:hover::before {
    height: 24px;
    width: 4px;
  }
  .basic-nav .mode-chooser.active::before {
    pointer-events: none;
    width: 4px;
    height: 36px;
  }
</style>
<div class="basic-nav">
  <div class="mode-chooser" loadme="search-panel">
    <img src="https://api.impactium.fun/svg/search.svg">
  </div>
  <div class="mode-chooser" loadme="guild-statistics">
    <img src="https://api.impactium.fun/svg/chart.svg">
  </div>
  <div class="mode-chooser" loadme="doxbin-registry">
    <img src="https://api.impactium.fun/svg/earth-globe.svg">
  </div>
  <div class="mode-chooser" loadme="user-schedule">
    <img src="https://api.impactium.fun/svg/sparkle-whiter.svg">
  </div>
  <div class="mode-chooser" loadme="some-settings">
    <img src="https://api.impactium.fun/svg/gear.svg">
  </div>
</div>
<script>
$(".mode-chooser").on("click", function() {
  const loadmeValue = $(this).attr("loadme");
  $.ajax({
    url: `/terminal/loadme`,
    type: "POST",
    data: JSON.stringify({ value: loadmeValue }),
    contentType: "application/json",
    success: function (response) {
      const renderZone = $(".app");
      renderZone.html("");
      renderZone.html(response);
    },
    error: function (error) {
    }
  });
});
</script>