<style>
  .basic-nav {
    width: calc(36px + 16px);
    flex: none;
    padding: 16px 8px;
    gap: 8px;
    background-color: rgb(75 75 75 / 5%);
    backdrop-filter: blur(15px);
    border-top: 1px solid var(--c-36);
    border-right: 1px solid var(--c-36);
  }
</style>
<div class="basic-nav">
  <img src="">
</div>