header {
  transition: all 0.3s var(--trans);
  height: 80px;
  max-width: 100%;
  z-index: 2;
  position: fixed;
  top: 0px;
  justify-content: space-between;
  padding: 0 16px;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
header > div > svg {
  height: 40px;
  -webkit-user-drag: none;
  user-select: none;
}
.user-onlogin {
  gap: 16px;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: flex-end;
  grid-column: 3 / 4;
}
.login-wrapper {
  grid-column: 3 / 4;
  justify-content: flex-end;
}

.user {
  display: flex;
  align-items: center;
  color: var(--w);
  font-weight: 500;
  max-width: 256px;
  min-width: 128px;
  height: 48px;
  padding: 6px;
  border-radius: 17px;
  background: var(--c-32);
  position: relative;
  cursor: pointer;
}

.user .avatar {
  border-radius: 11px;
  height: 38px;
  width: 38px;
  pointer-events: none;
}
.user p {
  padding: 0 6px;
  text-align: center;
  height: 24px;
  flex: 1;
  line-height: 24px;
  font-size: 16px;
  text-shadow: 0px 2px 5px var(--c-32);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: calc(256px - 32px - 16px - 12px);
}
header .logo {
  height: 48px;
  gap: 16px;
  opacity: 0;
  width: min-content;
}

header .logo p {
  font-size: 30px;
  font-weight: 600;
}

header .logo img {
  height: 48px;
}

.temp-button path.default-path {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.temp-button:hover path {
  d: path("M2 12H18M18 12L13 7M18 12L13 17");
}
.temp-button svg {
  transform: translateX(-1px);
}
.temp-button:hover svg {
  transform: translateX(10px);
}
.temp-button * {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  text-shadow: 0px 2px 5px var(--c-16);
}
.temp-button {
  display: flex;
  cursor: pointer;
  color: var(--b);
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 128px;
  height: 48px;
}
.temp-button .button-text {
  position: absolute;
  width: calc(100% - 48px);
  right: 0;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}
.temp-button .circle {
  position: absolute;
  margin: 0;
  width: 48px;
  display: flex;
  align-items: center;
  height: 48px;
  background: var(--c-32);
  border-radius: 17px;
}

.temp-button:hover .circle {
  width: 100%;
}

.temp-button:hover .button-text {
  color: #fff;
}
@media (max-width: 767px) {
header {
  grid-template-columns: repeat(2, 1fr);
}
.nav {
  display: none;
}
.login-wrapper {
  grid-column: 2 / 3;
}
#logout {
  display: none;
}
.nav button bar {
  backdrop-filter: blur(0px);
}
}
.plate .p-wrapper {
  height: 42px;
  overflow: hidden;
  transition: all 0.2s cubic-bezier(.21,.29,0,.94) !important;
}
.plate:hover .p-wrapper {
  height: 0px;
}
.plate:hover h3 {
  font-size: 16px;
}
.plate {
  transition: all 0.2s ease;
  padding: 12px;
  gap: 12px;
}
.plate .text {
  align-items: flex-start;
  justify-content: center;
}
.guild-avatar {
  height: 66px;
  width: 66px;
  min-width: 66px;
  border-radius: 12px;
  background: var(--c-48);
}
.plate:hover {
  background: var(--c-32);
}
.user-onlogin .verified {
  height: 32px;
  padding: 4px;
  width: 32px;
  border-radius: 11px;
  background-color: var(--c-32);
  cursor: pointer;
}
.user-onlogin .verified img {
  height: 24px;
  pointer-events: none;
}

.logo.inner-animation {
  animation: inner-logo-animation 0s linear 3.3s forwards;
}
.user .balance {
  display: flex;
  font-size: 10px;
  line-height: 14px;
  align-items: center;
  height: 14px;
  gap: 4px;
  color: var(--w);
}
.user .balance::before {
  content: "";
  width: 14px;
  height: 14px;
  background: url(https://cdn.impactium.fun/ux/donate.svg) no-repeat center center;
  display: block;
  background-size: cover;
}

@keyframes inner-logo-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header.flatten {
  max-width: 1344px;
}