.header-background {
  z-index: 1;
  top: -80px;
  height: 80px;
  width: 100vw;
  left: 0%;
  position: fixed;
  display: flex;
  background: linear-gradient(180deg,#161616b0,#2d2d2d3d);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  transition: top 0.3s var(--trans);
  border-bottom: 1px solid var(--c-24);
}