.header-background {
  z-index: 1;
  top: -80px;
  height: 80px;
  width: 100vw;
  left: 0%;
  position: fixed;
  display: flex;
  background: linear-gradient(180deg, rgb(22 22 22 / 30%) 0%, rgb(75 75 75 / 5%) 100%);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  transition: all 0.3s var(--trans);
  border-bottom: 1px solid var(--c-24);
}