header .nav {
  gap: 10px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

header .nav .category {
  height: 100%;
}
header .nav button {
  height: 100%;
  position: relative;
  font-weight: 500;
  width: 120px;
  text-align: center;
  text-transform: uppercase;
}
header .nav button > img {
  filter: invert(100%);
  height: 15px;
  width: 15px;
  margin-left: 10px;
  transition: all 0.2s var(--trans);
}
header .nav button:hover > img {
  transform: rotateZ(90deg);
}
header .nav button .bar {
  position: absolute;
  min-height: 80px;
  background: var(--c-24);
  backdrop-filter: blur(15px);
  display: flex;
  opacity: 0;
  visibility: hidden;
  flex-direction: column;
  top: 80px;
  width: 240px;
  border-radius: 14px;
  transition: all 0.2s ease;
  transform: translateY(-16px);
  overflow: hidden;
  box-shadow: 0 1px 3px var(--c-48);
  text-transform: initial;
}
header .nav button:hover .bar {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
header .nav button > p {
  text-transform: uppercase;
}
header .nav button .bar img {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}
header .nav button .bar h3 {
  text-align: left;
  font-weight: 600;
  color: var(--w);
  transition: all 0.2s cubic-bezier(.21,.29,0,.94) !important;
}
header .nav button .bar p {
  text-align: left;
  font-weight: 400;
  color: var(--c-64);
  height: 100%;
}
header .nav .line {
  width: 1px;
  background: white;
  height: 15px;
}
header .nav .line:last-child {
  display: none;
}