@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --black: #000000;
  --soft-white: #e8e8e8;
  --soft-black: #0d0d0d;
  --gray16: #161616;
  --gray24: #242424;
  --gray32: #323232;
  --gray48: #484848;
  --gray64: #646464;
  --gray80: #808080;
  --gray96: #929292;
  --element-shadow: 0 0 0 1px hsla(0,0%,100%,.145) ,0px 1px 1px rgba(0,0,0,.02),0px 4px 8px -4px rgba(0,0,0,.04),0px 16px 24px -8px rgba(0,0,0,.06);
  --transition: cubic-bezier(.21,.29,0,.94);

  --hammer: url("https://cdn.impactium.fun/ux/hammer.svg");
  --hammer-accent: #F14C50;
  --casual: url("https://cdn.impactium.fun/ux/casual.svg");
  --casual-accent: rgb(163, 255, 163);
  --defence: url("https://cdn.impactium.fun/ux/defence.svg");
  --defence-accent: #417FFD;
  --killer: url("https://cdn.impactium.fun/ux/killer.svg");
  --killer-accent: #F2DE4C;
  --event: url("https://cdn.impactium.fun/ux/event.svg");
  --event-accent: #E465FD;
  --donate: url("https://cdn.impactium.fun/ux/donate.svg");
  --donate-accent: #72E4F2;

  --blured-gradient: radial-gradient(100% 100% at 50% 0,hsla(0,0%,100%,.07) 0,hsla(0,0%,100%,0) 100%),linear-gradient(103.94deg,hsla(0,0%,100%,.05) 7.66%,hsla(0,0%,100%,.02) 32.57%,hsla(0,0%,100%,.008) 72.45%,hsla(0,0%,100%,.05) 96.25%);
  --blured-border: 1px solid hsla(0,0%,100%,.07);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: 0.3px;
  color: var(--soft-white);
  font-family: 'Nunito', sans-serif;
  line-height: 1;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}
img {
  pointer-events: none;
}

ul {
  list-style-type: none;
}
li::marker {
  display: none;

}

html,
body {
  max-width: 100vw;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--black) !important;
  background-position: top !important;
  background-size: cover !important;
  background-repeat: repeat !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  min-height: calc(100vh - 80px);
  margin-top: 80px;
  padding: 16px 16px 16px 16px;
  width: 100%;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}
[data-nextjs-dialog-overlay] {
  user-select: all;
}
hr {
  border: none;
  height: 1px;
  width: 1px;
}
hr[datatype='horizontal'] {
  width: 100%;
}
hr[datatype='vertical'] {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}