.header {
  transition: all 0.3s var(--transition);
  height: 80px;
  max-width: 100vw;
  width: 100%;
  z-index: 2;
  position: fixed;
  top: 0px;
  justify-content: space-between;
  padding: 0 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.logo {
  height: 48px;
  gap: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: min-content;
  opacity: 1;
}
.logo.hidden {
  opacity: 0;
}
.logo p {
  font-size: 30px;
  font-weight: 600;
}
.logo img {
  height: 48px;
}
.session {
  gap: 16px;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: flex-end;
  grid-column: 3 / 4;
}
.verified {
  height: 32px;
  padding: 4px;
  width: 32px;
  border-radius: 11px;
  background-color: var(--gray32);
  cursor: pointer;
}

.user {
  display: flex;
  align-items: center;
  color: var(--soft-white);
  font-weight: 500;
  max-width: 256px;
  min-width: 128px;
  height: 48px;
  padding: 6px;
  border-radius: 17px;
  background: var(--gray32);
  position: relative;
  cursor: pointer;
}
.avatar {
  border-radius: 11px;
  height: 38px;
  width: 38px;
  pointer-events: none;
}
.user p {
  padding: 0 6px;
  text-align: center;
  height: 24px;
  flex: 1;
  line-height: 24px;
  font-size: 16px;
  text-shadow: 0px 2px 5px var(--gray32);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: calc(256px - 32px - 16px - 12px);
}
.arrow {
  height: 40px;
  -webkit-user-drag: none;
  user-select: none;
}
.dynamicBubbleButton {
  display: flex;
  cursor: pointer;
  color: var(--soft-white);
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 128px;
  height: 48px;
}
.dynamicBubbleButton path {
  transition: all 0.45s var(--transition);
}
.dynamicBubbleButton:hover path {
  d: path("M2 12H18M18 12L13 7M18 12L13 17");
}
.dynamicBubbleButton svg {
  transform: translateX(-1px);
  transition: all 0.45s var(--transition);
}
.dynamicBubbleButton:hover svg {
  transform: translateX(10px);
}
.dynamicBubbleButton p {
  position: absolute;
  width: calc(100% - 48px);
  right: 0;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}
.dynamicBubbleButton .circle {
  position: absolute;
  margin: 0;
  width: 48px;
  display: flex;
  align-items: center;
  height: 48px;
  background: var(--gray32);
  border-radius: 17px;
  transition: all 0.45s var(--transition);
}
.dynamicBubbleButton:hover .circle {
  width: 100%;
}
.logo.inner-animation {
  animation: first 0s linear 3.3s forwards;
}

@keyframes first {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header.flatten {
  max-width: 1344px;
}

.headerBackground {
  z-index: 1;
  top: 0px;
  height: 80px;
  width: 100vw;
  left: 0%;
  position: fixed;
  display: flex;
  background: radial-gradient(100% 100% at 50% 0,hsla(0,0%,100%,.07) 0,hsla(0,0%,100%,0) 100%),linear-gradient(103.94deg,hsla(0,0%,100%,.05) 7.66%,hsla(0,0%,100%,.02) 32.57%,hsla(0,0%,100%,.008) 72.45%,hsla(0,0%,100%,.05) 96.25%);
  border-bottom: 1px solid hsla(0,0%,100%,.07);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  transition: top 0.3s var(--transition);
}
.loader {
  height: 2px;
  width: 0px;
  background-color: var(--gray96);
  position: absolute;
  top: 80px;
  border: none;
  opacity: 0;
}
.onLoading {
  opacity: 1;
  animation: loader-inner 1s var(--transition) forwards;
}
.onLoaded {
  animation: loader-outter 0.2s var(--transition) forwards;
}
@keyframes loader-inner {
  0% {
    opacity: 1;
    width: 0vw;
  }
  100% {
    opacity: 1;
    width: 80vw;
  }
}
@keyframes loader-outter {
  0% {
    opacity: 1;
    width: 80vw;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 100vw;
  }
}
.user .balance {
  display: flex;
  font-size: 10px;
  line-height: 14px;
  align-items: center;
  height: 14px;
  gap: 4px;
  color: var(--soft-white);
}
.user .balance::before {
  content: "";
  width: 14px;
  height: 14px;
  background: url(https://cdn.impactium.fun/custom/donate.svg) no-repeat center center;
  display: block;
  background-size: cover;
}
.nav {
  display: flex;
  gap: 16px;
  height: 100%;
  justify-content: center;
  align-items: center;
  transition: all 0.3s var(--transition);
  transform: translateY(-80px);
  pointer-events: none;
}
.nav.visible {
  pointer-events: all;
  transform: translateY(0px);
}
.nav .category {
  height: 100%;
}
.nav .category button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.nav button {
  height: 100%;
  position: relative;
  font-weight: 500;
  width: 120px;
  text-align: center;
  text-transform: uppercase;
  font-size: 100%;
}
.nav button > img {
  filter: invert(100%);
  height: 16px;
  width: 16px;
  margin-left: 8px;
  transition: all 0.2s var(--transition);
}
.nav button:hover > img {
  transform: rotateZ(90deg);
}
.nav button .bar {
  position: absolute;
  min-height: 80px;
  background: #6464640d;
  border: var(--blured-border);
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(5px);
  display: flex;
  opacity: 0;
  visibility: hidden;
  flex-direction: column;
  top: 80px;
  width: 240px;
  border-radius: 14px;
  transition: all 0.2s var(--transition);
  transform: translateY(-16px);
  overflow: hidden;
  text-transform: initial;
}
.nav button:hover .bar {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.nav button > p {
  text-transform: uppercase;
  font-size: 100%;
}
.nav button .bar img {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}
.nav button .bar h3 {
  text-align: left;
  font-weight: 600;
  color: var(--soft-white);
  transition: all 0.2s cubic-bezier(.21,.29,0,.94) !important;
  font-size: 18px;
}
.nav .line {
  width: 1px;
  background: var(--soft-white);
  height: 16px;
}
.nav .line:last-child {
  display: none;
}
.guildAvatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gray48);
  border-radius: 12px;
  height: 66px;
  min-width: 66px;
  width: 66px;
}
.plate p {
  height: 16px;
  margin-top: 8px;
  overflow: hidden;
  transition: all 0.2s var(--transition) !important;
  text-align: left;
  font-weight: 400;
  color: var(--gray64);
}
.plate:hover .text div p {
  height: 0px;
  margin-top: 0px;
}
.plate:hover h3 {
  font-size: 16px;
}
.plate {
  transition: all 0.2s var(--transition);
  padding: 12px;
  gap: 12px;
  display: flex;
  align-items: center;
}
.plate .text {
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.plate:hover {
  background: #56565636;
}
@media (max-width: 1080px) {
  .header {
    grid-template-columns: repeat(2, 1fr);
  }
  .nav {
    display: none;
  }
  .session {
    grid-column: 2 / 3;
  }
}

.cookies {
  padding: 16px;
  border-radius: 12px;
  font-size: 14px;
  line-height: 150%;
  color: var(--soft-white);
  background: var(--soft-black);
  display: flex;
  flex-direction: column;
  position: fixed;
  max-width: 600px;
  box-shadow: var(--element-shadow);
  bottom: 16px;
  left: 16px;
  z-index: 3;
  position: fixed;
}
