.main {
  width: 100vw;
  padding: 80px 0 80px 0;
}

.panel {
  min-height: calc(100vh - 176px);
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.aboutUs {
  height: 250px;
  padding: 40px;
  width: 50vw;
  word-break: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.right {
  flex-direction: column;
}

.mainText {
  font-size: 42px;
  font-weight: 700;
  transition: all 0.8s cubic-bezier(.21,.29,0,.94) 0.1s !important;
  opacity: 0;
  transform: translateY(-150%);
}

.supportText {
  color: #9ca3af;
  font-size: 21px;
  text-align: center;
  width: 100%;
  font-weight: 400;
  transition-delay: 0.25s;
  position: absolute;
  transform: translateY(50%);
  opacity: 0;
  transition: all 0.8s cubic-bezier(.21,.29,0,.94) 0.35s !important;
}

.supportText.active {
  transform: translateY(0);
  opacity: 1;
}

.supportText.onMove {
  animation: description-animation 0.8s cubic-bezier(.21,.29,0,.94) forwards;
}

@keyframes description-animation {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  100% {
    transform: translateY(-50%);
    opacity: 0;
  }
}

.descriptionsWrapper {
  position: relative;
  width: 100%;
  height: 66px;
  margin: 12px 0;
  transition: all 0.8s cubic-bezier(.21,.29,0,.94) 0.35s !important;
  opacity: 0;
  transform: translateY(-100px);
}

.panel .right {
  display: flex;
  padding: 1.8em 2.1em;
  gap: 12px;
  width: 45vw;
  border-radius: 32px 0 0 32px;
  backdrop-filter: blur(3px);
  border-right: 0px;
  transition: all 0.8s var(--transition) !important;
  opacity: 0;
  transform: translateX(50%);
  border: 1px solid #36363680;
  border-right: none;
}

.panel .right > h2 {
  font-size: 18px;
}

.backgroundWrapper {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.background {
  pointer-events: none;
}

.diamond.background {
  position: absolute;
  top: 50%;
  transform: translate(40%, -40%);
  right: 0;
  z-index: -2;
}

.mireg.background {
  z-index: -1;
  height: 80%;
  transform: translateX(15%);
  max-height: 350px;
}

.panel .right a {
  width: 50%;
  text-decoration: none;
  text-align: center;
  padding: 0.7em 2.1em;
  background: #7C1AC2;
  border-radius: 12px;
  z-index: 3;
}

.privileges {
  width: 50%;
  min-width: 350px;
}

.privileges li {
  line-height: 1.2;
  margin-bottom: 8px;
}

.privileges li::before {
  display: inline-block;
  transform: translateY(0.3ch);
  margin-right: 1ch;
}

.privileges hr {
  margin-top: 4px;
  height: 4px;
  width: 100%;
  background: var(--gray48);
  border-radius: 2px;
  display: flex;
  border: none;
}

.privileges hr::after {
  content: "";
  transition: all 1s var(--transition);
  min-width: 20px;
  width: 0%;
  border-radius: 2px;
}

.privileges li.maxWidth hr::after {
  width: 100%;
}

.privileges li[itemType='hammer']::before { content: var(--hammer); }
.privileges li[itemType='hammer'] hr::after { background-color: var(--hammer-accent); }

.privileges li[itemType='casual']::before { content: var(--casual); }
.privileges li[itemType='casual'] hr::after { background-color: var(--casual-accent); }

.privileges li[itemType='defence']::before { content: var(--defence); }
.privileges li[itemType='defence'] hr::after { background-color: var(--defence-accent); }

.privileges li[itemType='killer']::before { content: var(--killer); }
.privileges li[itemType='killer'] hr::after { background-color: var(--killer-accent); }

.privileges li[itemType='event']::before { content: var(--event); }
.privileges li[itemType='event'] hr::after { background-color: var(--event-accent); }

.privileges li[itemType='donate']::before { content: var(--donate); }
.privileges li[itemType='donate'] hr::after { background-color: var(--donate-accent); }

@media (max-width: 767px) {
  .aboutUs {
    width: 90vw;
    height: unset;
    margin-top: 2.1em;
    padding: 0;
  }
  .aboutUs > div {
    width: 100%;
  }
  .aboutUs .mainText {
    font-size: 26px;
  }
  .aboutUs .support-text {
    font-size: 22px;
    width: 100%;
  }
  .panel {
    overflow: hidden;
    flex-direction: column;
    justify-content: space-evenly
  }
  .panel .right {
    overflow: hidden;
    margin-bottom: 5vw;
    width: 90vw;
    border-radius: 32px;
    border-right: 1px solid #36363680;
  }
  .panel .right > h2 {
    font-size: 18px;
    width: 100%;
    text-align: center;
  }
  .panel .right .privileges {
    width: 100%;
  }
  .panel .right a {
    width: 100%;
  }
  .diamond.background {
    display: none;
  }
  .mireg.background {
    filter: blur(5px) brightness(0.5);
    height: auto;
    width: 100%;
    transform: none;
  }
}