.me {
  max-width: 1344px;
  align-self: center;
  flex: 1;
  width: 100%;
  gap: 32px;
  flex-direction: row;
  display: flex;
}
.nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
@media (max-width: 1080px) {
  .nav {
    align-items: flex-start;
  }
  .me {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .nav {
    align-items: flex-start;
  }
}
.nav a {
  background: var(--gray32);
  padding: 8px;
  min-height: 32px;
  min-width: 192px;
  gap: 8px;
  border-radius: 12px;
  display: flex;
  align-items: center;
}
.nav a:hover {
  background: var(--gray48);
}
.nav a.selected {
  background: var(--gray48);
}
.nav a p {
  flex: 1;
  text-align: left;
}

.taskbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 32px;
  min-width: 192px;
  border-radius: 12px;
  left: 20%;
  background-color: #323232;
  cursor: pointer;
}

.taskbtn:hover {
  animation: hoverTask 3s linear forwards;
}

@keyframes hoverTask {
  0% {
  }
  40%{
    text-shadow: 0px 0px 10px
  }
  100% {
    text-shadow: 0px 0px 10px;
  }
}