.panel {
  justify-content: flex-start !important;
  align-items: flex-start;
}

.unit {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid var(--accent-2);
  padding: 1em;
}

.unit img {
  height: 32px;
}

.unit h6 {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: var(--text-medium);
}

.unit span::after {
  content: "";
  height: 8px;
  width: 8px;
  display: inline-flex;
  border-radius: var(--round);;
}
.unit span {
  display: inline-flex;
}
.good {
  color: var(--uncommon);
}
.good span::after {
  background-color: var(--uncommon);
}
.warn {
  color: var(--legendary);
}
.warn span::after {
  background-color: var(--legendary);
}
.error {
  color: var(--ancient);
}
.error span::after {
  background-color: var(--ancient);
}
.unit p {
  justify-self: flex-end;
  display: flex;
  gap: 8px;
  border-radius: var(--border-l);
  font-weight: 500;
  font-size: var(--text-small);
  padding: 8px;
  align-items: center;
}
.unit:hover p {
  background: var(--gray16);
}

.graph {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 3px;
  height: 32px;
  justify-self: center;
  position: relative;
}
.graph code {
  width: 3px;
  min-height: 3px;
  border-radius: var(--round);
}
.graph s {
  padding: 8px 12px;
  white-space: nowrap;
  font-size: var(--text-small);
  position: absolute;
  font-family: var(--font-mono);
  border: 1px solid var(--accent-2);
  border-radius: var(--border-s);
}
.graph s:first-child {
  left: 0;
  transform: translateX(calc(-100% - 8px));
}
.graph s:last-child {
  right: 0;
  transform: translateX(calc(100% + 8px));
}