.panel {
  justify-content: space-evenly !important;
  align-items: center;
}

.wrapper {
  background: var(--soft-black);
  width: 80vw;
  max-width: 720px;
  padding: 16px;
  display: flex;
  border-radius: var(--border-m);
  border: 1px solid var(--gray-alpha-400);
  background-clip: padding-box;
  flex: 1;
}
.service p {
  font-size: 11px;
  font-family: var(--font-mono);
  color: currentColor;
  font-weight: 400;
  white-space: nowrap;
}
.service svg {
  flex-shrink: 0;
}
.path {
  overflow: hidden;
  text-overflow: ellipsis;
}
.service {
  min-height: 18px;
  width: 100%;
  padding: 6px;
  border-radius: 6px;
}
.service.error {
  background: var(--red-100);
  color: var(--red-900)
}
.description * {
  color: var(--text-dimmed);
  font-size: 11px;
  padding: 0 6px;
}
.description p:nth-child(1) {
  width: 104px;
}
.description p:nth-child(2) {
  width: 84px;
}
.description p:last-child {
  text-align: end;
  flex: 1;
}
.domain {
  width: 72px;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
}