<style>
header {
  padding: 0 15vw
}
.app {
  padding: 3vh 15vw 0 15vw;
  display: flex;
  height: calc(100vh - 80px);
  gap: 32px;
}
.app nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center
}

.app nav button {
  background: var(--c-36);
  padding: 8px;
  min-height: 32px;
  min-width: 192px;
  gap: 8px;
  border-radius: 12px;
  display: flex;
  align-items: center;
}
.app nav button:hover {
  background: var(--c-48);
}
.app nav button.selected {
  background: var(--c-48);
}
.app nav button p {
  flex: 1;
  text-align: left;
}
.panel {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  width: 100%;
}
</style>
<div class="app">
  <nav>
    <button class="selected" onclick="getRender(`minecraft`)">
      <img src="https://api.impactium.fun/ux/cube.svg">
      <p>Minecraft Account</p>
    </button>
  </nav>
  <div class="panel">
    <% if (typeof prerender === 'undefined') prerender = 'minecraftBody'; %>
    <% if (typeof user === 'undefined') user = player; %>
    <%- include(`${lang.debugPath}/views/personal/${prerender}.ejs`, { user, lang }) %>
    
  </div>
</div>

<script>
$('.app nav button').on('click', function () {
  $('.app nav button.previous').removeClass('previous');
  $('.app nav button.selected').addClass('previous');
  $('.app nav button.selected').removeClass('selected');
  $(this).addClass('selected');
});

function getRender(page) {
  $.ajax({
    type: 'GET',
    url: "/me/" + page,
    headers: {
      'Cache-Control': 'no-store',
      'Accept': 'semipage'
    },
    success: function (response) {
      const renderZone = $(".app .panel");
      history.pushState(null, null, `/me/${page}`);
      renderZone.html("");
      renderZone.html(response);
      initCards()
    },
    error: function (error) {
      const buttonOnError = $('.app nav button.previous')
      $(buttonOnError).removeClass('previous');
      $('.app nav button.selected').removeClass('selected');
      $(buttonOnError).addClass('selected');
    }
  });
}

let cardsContainer
let cards
let overlay
let calcOverlay

const applyOverlayMask = (e) => {
  const overlayEl = e.currentTarget;
  const x = e.pageX - cardsContainer.offsetLeft;
  const y = e.pageY - cardsContainer.offsetTop;

  overlayEl.style = `--opacity: 1; --x: ${x}px; --y:${y}px;`;
};

const observer = new ResizeObserver((entries) => {
  entries.forEach((entry) => {
    const cardIndex = cards.indexOf(entry.target);
    let width = entry.borderBoxSize[0].inlineSize;
    let height = entry.borderBoxSize[0].blockSize;

    if (cardIndex >= 0 && overlay.children[cardIndex]) {
      overlay.children[cardIndex].style.width = `${width}px`;
      overlay.children[cardIndex].style.height = `${height}px`;
    }
  });
});
const initCards = () => {
  cardsContainer = document.querySelector(".panel");
  cards = Array.from(document.querySelectorAll(".dynamic"));
  overlay = document.querySelector(".overlay");
  calcOverlay = document.querySelectorAll(".calc_overlay");

  // Словарь для отслеживания, создан ли уже calc_overlay блок для определенного родительского блока
  const calcOverlayMap = new Map();

  cards.forEach((cardEl) => {
    const parentCalcOverlay = cardEl.closest(".calc_overlay");

    if (parentCalcOverlay) {
      handleCalcOverlay(cardEl, parentCalcOverlay, calcOverlayMap);
    } else {
      handleRegularOverlay(cardEl);
    }

    observer.observe(cardEl);
  });

  document.body.addEventListener("pointermove", applyOverlayMask);
};

const handleCalcOverlay = (cardEl, parentCalcOverlay, calcOverlayMap) => {
  // Если карточка находится в блоке calc_overlay, создаем блок-обертку (если не создан ранее) и добавляем в нее карточку
  const parentId = parentCalcOverlay.id;
  const overlayCard = document.createElement("div");
  cardEl.classList.forEach((className) => {
    overlayCard.classList.add(className);
  });
  const toOverlayViewElement = cardEl.querySelector('[toOverlayView]');
  if (toOverlayViewElement) createOverlayCta(overlayCard, toOverlayViewElement);

  if (!calcOverlayMap.has(parentId)) {
    const overlayWrapper = document.createElement("div");
    overlayWrapper.classList.add("calc_overlay");
    parentCalcOverlay.classList.forEach((className) => {
      overlayWrapper.classList.add(className);
    });
    calcOverlayMap.set(parentId, overlayWrapper);
    overlay.appendChild(overlayWrapper);
  }

  calcOverlayMap.get(parentId).appendChild(overlayCard);
};

const handleRegularOverlay = (cardEl) => {
  const overlayCard = document.createElement("div");
  cardEl.classList.forEach((className) => {
    overlayCard.classList.add(className);
  });
  const toOverlayViewElement = cardEl.querySelector('[toOverlayView]');
  if (toOverlayViewElement) createOverlayCta(overlayCard, toOverlayViewElement);
  overlay.appendChild(overlayCard);
};

const createOverlayCta = (overlayCard, buttonEl) => {
  const overlayCta = document.createElement("div");
  buttonEl.classList.forEach((className) => {
    overlayCta.classList.add(className);
  });
  overlayCta.textContent = buttonEl.textContent;
  overlayCta.setAttribute("aria-hidden", true);

  const imgElements = buttonEl.querySelectorAll('img');
  imgElements.forEach((imgElement) => {
    const clonedImg = imgElement.cloneNode(true);
    const imgWrapper = document.createElement('div');
    imgWrapper.appendChild(clonedImg);
    overlayCta.appendChild(imgWrapper);
  });

  overlayCard.append(overlayCta);
};

initCards();

const fileInput = $("#fileInput");
fileInput.change(handleFileUpload);

function handleFileUpload() {
  const file = fileInput[0].files[0];
  
  if (file) {
    const formData = new FormData();
    formData.append("skin", file, file.name);

    $.ajax({
      url: "https://impactium.fun/me/minecraft/setSkin",
      type: "POST",
      data: formData,
      processData: false,
      contentType: false,
      success: function(data) {
        $('#skinName').text(file.name)
        $('#skinName').addClass('grayed')
      },
      error: function(error) {
        getRender('minecraft');
      }
    });
  }
}
</script>