<style>

</style>
<div class="nickname">
  <p>Игровой никнейм:
    <div>
      Никнейм монжо изменять раз в 24 часа
    </div>
  </p>
  <input type="text">
  <p>Изменения вступят в силу сразу</p>
</div>
<div class="skin">
  <>
</div>
<script>

</script>