<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="PHP Compiler 2.0" type="image/x-icon">
  <title>PHP Compiler 2.0</title>
  <link rel="stylesheet" href="/static/style/reset.css?v=14">
  <link rel="stylesheet" href="https://impactium.fun/static/style/style_global.css?v=14">
  <link rel="stylesheet" href="https://impactium.fun/static/style/php-compiler/style.css">
  <script src="/static/script/jquery.js"></script>
</head>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
</style>
<body>
<%- include('../modules/preloader.ejs') %> <!-- Прелоадер в основных -->
<%- include('../modules/php/header.ejs') %> <!-- Голова -->
<%- include('../modules/php/navbar.ejs') %> <!-- NavBar -->
<main>
</main>
</body>
</html>