<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="PHP Compiler 2.0" type="image/x-icon">
  <title>PHP Compiler 2.0</title>
  <link rel="stylesheet" href="/static/style/reset.css?v=14">
  <link rel="stylesheet" href="/static/style/style_global.css?v=14">
  <link rel="stylesheet" href="/static/style/php-compiler/style.css">
  <script src="/static/script/jquery.js"></script>
</head>
<body>
<%- include('../modules/preloader.ejs') %> <!-- Прелоадер в основных -->
<%- include('../modules/php/header.ejs') %> <!-- Голова -->
<%- include('../modules/php/navbar.ejs', filesAndFolders) %> <!-- NavBar -->
<main>
</main>
</body>
</html>