.page {
  align-items: flex-start;
  flex-direction: row !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  align-self: flex-start;
  max-width: 75%;
}
@media all and (min-width: 769px) and (max-width: 1024px) {
  .wrapper {
    max-width: 65%;
  }
}

@media all and (max-width: 768px) {
  .page {
    flex-direction: column !important;
  }
  .wrapper {
    width: 100%;
    max-width: 100%;
  }
}