.avatar {
  box-shadow: var(--shadow-border);
  border-radius: var(--round);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--geist-background);
}
.avatar p {
  color: var(--text-white);
  font-family: var(--font-mono);
  line-height: 0px;
  text-align: center;
}
