.badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: min-content;
  gap: 4px;
  font-family: var(--font-mono);
  font-size: var(--text-small);

  border-radius: 50px;
  padding: 8px 12px;
  background-color: #e8e8e830;
  
  font-weight: 600;
  color: var(--soft-white);
  white-space: nowrap;
}

.badge img {
  height: 24px;
  width: 24px;
}