.badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: min-content;
  gap: 8px;
  font-family: var(--font-mono);
  font-size: 12px;
  font-weight: 400 !important;
  transition: all 0.125s var(--transition);
  border-radius: 50px;
  padding: 9px 12px;
  background-color: #e8e8e830;
  
  font-weight: 600;
  color: var(--white);
  white-space: nowrap;
}
.badge.icon {
  padding: 7px 12px;
}

.badge span {
  height: 8px;
  width: 8px;
  border-radius: var(--round);
}
.revert {
  flex-direction: row-reverse;
}