.background {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 4;
  background: #00000080;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
._ {
  max-width: calc(100vw - 32px);
  width: 600px;
  height: min-content;
  border-radius: var(--border-l);
  background: var(--meta-black);
  border: 1px solid var(--gray-alpha-400);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

._ > h4 {
  padding: 24px;
  padding-bottom: var(--padding-s);
  font-size: var(--text-large);
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: space-between;
}
._ > h4 button {
  cursor: pointer;
}

.content {
  flex: 1 1;
  padding: 0 24px 24px 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer {
  border-top: 1px solid var(--gray-alpha-400);
  background: var(--soft-black);
  display: flex;
  justify-content: space-between;
  font-size: var(--text-small);
  align-items: center;
  padding: 12px 24px;
  width: 100%;
}
.description {
  padding: 0 4px;
  height: 32px;
  border-radius: 4px;
  display: flex;
  gap: 4px;
  align-items: center;
  flex: 1;
}
.warning {
  border-left: 4px solid #ff2a00;
  background: linear-gradient(to right, #ff2a00, #00000000);
}
.tip {
  border: 1px solid #ffff0020;
  border-left: 4px solid #ffff00;
  background: linear-gradient(to right, #ffff0010, #00000000);
}
.note {

}

.left,
.right {
  display: flex;
  gap: 4px;
}
.right {
  flex: 1;
  justify-content: flex-end;
}

.center .content {
  align-items: center;
}