._ {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-self: flex-end;
  background: var(--soft-black);
  padding: 8px 12px;
  border-radius: var(--border-s);
  border: 1px solid var(--accent-2);
  color: var(--text-dimmed);
  transition: all .3s var(--transition);
  font-weight: 600;
  cursor: pointer;
  font-size: unset;
  max-height: 64px;
  white-space: nowrap;
}
._:focus {
  outline: none;
}

._:hover {
  color: var(--text-white);
}

.focus {
  background: var(--soft-white);
  color: var(--soft-black);
}

._ img {
  height: 18px !important;
}

.focus img {
  filter: brightness(0);
}

.focus:hover {
  color: var(--black);
}

.min {
  font-weight: 300;
  background: none;
  border: none;
}
