.months {
  display: flex;
  flex-direction: column;
  column-gap: 16px;
}
@media (min-width: 640px) {
  .months {
    flex-direction: row;
    column-gap: 0;
    row-gap: 16px;
    margin-right: 16px;
  }
}
.month {
  gap: 16px;
}
.calendar {
  padding: 16px;
}

.caption {
  display: flex;
  justify-content: center;
  padding-top: 4px;
  position: relative;
  align-items: center;
}

.caption_label {
  font-size: 0.875rem;
  font-weight: 500;
}

.nav {
  display: flex;
  gap: 4px;
  align-items: center;
}

.nav_button {
  height: 28px;
  width: 28px;
  background-color: transparent;
  padding: 0;
  opacity: 0.5;
  transition: opacity 0.125s var(--transition);
}

.nav_button:hover {
  opacity: 1;
}

.nav_button_previous {
  position: absolute;
  left: 4px;
}

.nav_button_next {
  position: absolute;
  right: 4px;
}
.table {
  width: 100%;
  border-collapse: collapse;
  row-gap: 4px;
}

.head_row {
  display: flex;
}

.head_cell {
  color: var(--text-dimmed);
  border-radius: var(--border-m);
  width: 28px;
  font-size: 0.8rem;
}
.row {
  display: flex;
  width: 100%;
  margin-top: 8px;
}

.cell {
  height: 32px;
  width: 32px;
  text-align: center;
  font-size: 12px;
  position: relative;
}
.cell[aria-selected].day-range-end {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.cell[aria-selected].day-outside {
  background-color: var(--white);
  opacity: 0.5;
}

.cell[aria-selected] {
  background-color: var(--white);
}

.cell:first-child[aria-selected] {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.cell:last-child[aria-selected] {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.cell:focus-within {
  position: relative;
  z-index: 20;
}
.day {
  height: 32px;
  width: 32px;
  padding: 0;
  font-size: 12px;
  font-weight: normal;
  opacity: 1;
}
.day[aria-selected] {
  opacity: 1;
}



.day_range_end {}

.day_selected {
  background-color: var(--white);
  color: var(--meta-black);
}

.day_selected:hover,
.day_selected:focus {
  background-color: var(--white);
  color: var(--meta-black);
}

.day_today {
  background-color: var(--dimmed);
  color: var(--soft-black);
}

.day_outside {
  color: var(--text-dimmed);
  opacity: 0.5;
}

.day_disabled {
  color: var(--text-dimmed);
  opacity: 0.5;
}

.day_outside[aria-selected] {
  background-color: rgba(var(--dimmed), 0.5);
  color: var(--text-dimmed);
  opacity: 0.3;
}

.day_range_middle[aria-selected] {
  background-color: var(--dimmed);
  color: var(--soft-black);
}

.day_hidden {
  visibility: hidden;
}
.icon {
  height: 20px;
  width: 20px;
}