._ {
  width: 100%;
  max-width: calc(100vw - 32px);
  display: flex;
  background: var(--meta-black);
  border-radius: var(--border-m);
  border: 1px solid var(--accent-2);
  flex-direction: column;
}
.content {
  gap: var(--gap);
  display: flex;
  padding: var(--padding);
  flex: 1;
  flex-direction: column;
  position: relative;
}
.content h6 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
}
.content p {
  font-size: var(--text-medium);
  font-weight: 400;
}
.description {
  min-height: 56px;
  border-top: 1px solid var(--accent-2);
  padding: 0 var(--padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap);
}
.description p {
  font-size: var(--text-medium);
  line-height: 1.2;
  color: var(--text-dimmed);
  margin: var(--padding) 0px;
}

/* Для телефонов */
