.input {
  display: flex;
  height: 36px;
  width: 100%;
  border-radius: 6px;
  border: 1px solid var(--accent-3);
  background-color: var(--soft-black);
  padding: 0.5rem 0.75rem;
  font-size: 14px;
  align-items: center;
}
.input[type=file] {
  cursor: pointer;
}
.input[type=file]::file-selector-button,
.input[type=file]::-webkit-file-upload-button {
  border: 0;
  background: transparent;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;  
}
.input::placeholder {
  color: var(--text-dimmed);
}
.input:focus-visible {
  outline: none;
  cursor: text;
  box-shadow: var(--ring);
}
.input:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.image {
  padding: 0;
  gap: 8px;
  padding-left: 8px; 
}
.image img {
  height: 20px;
}
.image input {
  width: 100%;
  padding: 8px 12px 8px 0;
}
.loading > img {
  animation: spin 1s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotateZ(1turn);
  }
}