.input {
  display: flex;
  height: 36px;
  width: 100%;
  border-radius: var(--border-s);
  border: 1px solid var(--accent-3);
  background-color: var(--soft-black);
  padding: 8px 12px;
  outline-offset: var(--white);
}

.input::file {
  border: 0;
  background-color: transparent;
  font-weight: 500;
}

.input::placeholder {
  color: var(--text-dimmed);
}

.input:focus-visible {
  outline: none;
  box-shadow: 0 0 0 1px var(--soft-white), 0 0 0 4px hsla(0, 0%, 100%, .24);
}

.input:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
