.wrapper {
  display: flex;
  align-items: center;
}
._ {
  background: var(--black);
  outline: none;
  border: 1px solid var(--accent-2);
  border-radius: var(--border-s);
  height: 36px;
  max-width: 256px;
  padding: 4px 8px;
  font-weight: 500;
  transition: all 0.3s var(--transition);
  font-family: var(--font-mono);
  overflow: hidden;
  text-overflow: ellipsis;
}
._:focus {
  border: 1px solid var(--white);
}
.wrapper p {
  font-family: var(--font-mono);
  color: var(--text-dimmed);
  padding: 8px;
}