.skeleton {
  background-color: var(--gray24);
  animation: pulse 2s cubic-bezier(.4,0,.6,1) infinite;
  border-radius: 12px;
  width: 256px;
  height: 14px;
}

.avatar {
  border-radius: var(--round);
  height: 36px;
  width: 36px;
}

.short {
  width: 40%;
}

.badge {
  height: 30px;
  width: 100px;
  border-radius: var(--round);
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}