.skeleton {
  background-color: var(--gray24);
  animation: pulse 2s cubic-bezier(.4,0,.6,1) infinite;
  border-radius: 12px;
  width: 100%;
  height: 100%;
}

.avatar {
  border-radius: var(--round);
  max-height: 36px !important;
  min-height: 36px !important;
  max-width: 36px !important;
  min-width: 36px !important;
}

.short {
  max-width: 40% !important;
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}