.status {
  display: grid;
  place-content: center;
  height: 16px;
  border-radius: 4px;
  font-weight: 400;
  font-family: var(--font-mono);
  font-size: 11px;
  line-height: 16px;
  flex: none;
  padding: 0 4px;
  border: 1px solid
}