<style>
  .server_info {
    --lightness: 100%;
    width: 100%;
    flex-direction: row;
  }
  .server_info .ip {
    width: fit-content;
    flex: unset;
    flex-direction: row;
    display: flex;
    margin: 0;
    gap: 0.44em;
    border: none !important;
  }
  .server_info .ip > span {
    color: var(--c-96);
    width: 24px;
    height: 24px;
    font-size: 16px;
  }
  .server_info .ip > p {
    line-height: 24px;
  }
  .overlay .server_info .ip {
    background: #0d0d0d;
  }
  .overlay .server_info .ip > span {
    color: var(--w);
  }
  .overlay .server_info .ip > p {
    color: var(--w);
  }
</style>
<div class="server_info default_panel_style dynamic">
  <div style="flex: 1;">

  </div>
  <div class="ip change_profile default_button_style" onclick="copy(this)" toCopy="play.impactium.fun" toOverlayView>
    <span class="center">IP:</span>
    <p>play.impactium.fun</p>
  </div>
</div>