<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="https://api.impactium.fun/logo/impactium-tw.png" type="image/x-icon">
  <title>Impactium</title>
  <link rel="stylesheet" href="/static/style/reset.css?v=9">
  <link rel="stylesheet" href="/static/style/style_global.css?v=11">
  <script src="/static/script/jquery.js"></script>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600&display=swap');
    * {
      font-family: 'Nunito', sans-serif;
      color: var(--w);
    }
    body {
      min-height: 100vh;
      background: url(https://api.impactium.fun/backgrounds/topography-21.svg);
      background-color: var(--c-16);
      background-position: top;
      background-size: cover;
      background-repeat: repeat;
      width: 100vw;
      overflow-x: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .preloader {
      background: var(--c-16);
    }
    .error {
        background: var(--c-16);
        border: 1px solid var(--c-36);
        border-radius: 25px;
        padding: 20px 60px;
        gap: 15px;
    }
    .error h6 {
        font-size: 34px;
        font-weight: 600;
    }
    .error p {
        font-size: 14px;
        font-weight: 400;
    }
    @media (max-width: 767px) {
        .error {
            min-width: 300px;
        }
    }
    .error line {
        width: 1px;
        height: 40px;
        background: var(--c-36);
    }
    .error a {
        color: var(--c-96);
    }
  </style>
</head>


<body>
  <%- include('modules/preloader.ejs') %>
  <div class="error center flex-dir-column">
    <div class="flex flex-dir-row center" style="gap: 15px;">
        <h6><%= code %></h6>
        <line></line>
        <p><%= message %></p>
    </div>
    <a href="https://impactium.fun/"><%= lang.backToMain %></a>
  </div>
</body>
</html>