<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="https://impactium.fun/static/img/impa.svg" type="image/x-icon">
  <title>Impactium</title>
  <link rel="stylesheet" href="https://impactium.fun/static/style/reset.css">
  <link rel="stylesheet" href="https://impactium.fun/static/style/style_global.css?v=7">
  <script src="https://impactium.fun/static/script/jquery.js"></script>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800');
:root {
  --g: #1F2937;
  --gh: #374151;
  --b: #111827;
  --w: #e8e8e8;
  --p: #3E3979;
  --lp: #8F80F4;
}
    * {
      font-family: 'Manrope', sans-serif;  
      color: white;
    }
    body {
      min-height: calc(100vh);
      background: url(https://api.impactium.fun/svg/bg-learn-mobile.svg);
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100vw;
      overflow-x: hidden;
    }
    main {
      min-height: 100%;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    temp-background {
      height: 100%;
      width: 100vw;
      pointer-events: none;
    }
    button {
      cursor: pointer;
      background-color: #00000000;
      border: 0;
      border-radius: 0;
      padding: 0;
    }
    .rocks {
      z-index: -1;
      width: 100vw;
      position: absolute;
    }
    .last-rock::after {
      content: "";
      position: absolute;
      bottom: 0px;
      transform: translateY(99%);
      width: 100vw;
      left: 0;
      background: linear-gradient(0deg, #151E2900, #151E29);
      height: 30vh;
    }
  </style>
</head>


<body>
  <div class="preloader center">
    <div class="honeycomb">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <%- include('modules/header.ejs', { user, lang, isFull: false }) %>
  <temp-background class="absolute flex">
    <div class="rocks absolute">
      <img class="w-ful" src="https://api.impactium.fun/svg/1-01.svg">
    </div>
    <div class="rocks absolute">
      <img class="w-ful" src="https://api.impactium.fun/svg/2-01.svg">
    </div>
    <div class="rocks absolute last-rock">
      <img src="https://api.impactium.fun/svg/7-01.svg">
    </div>
  </temp-background>
  <main>
    <%- body %>
  </main>
</body>
</html>

<script type="text/javascript">
function index() {
  window.location.href = "/";
}

function auth() {
  window.location.href = "https://discord.com/api/oauth2/authorize?client_id=1123714909356687360&redirect_uri=https%3A%2F%2Fimpactium.fun%2F&response_type=code&scope=identify";
}

$(window).on('load', function() {
  $('.preloader').remove();
});
</script>