.preloader {
  pointer-events: none;
  position: fixed;
  display: flex;
  z-index: 9;
  height: 100vh;
  width: 100%;
  background-color: var(--black);
  transition: background-color 1.25s var(--transition) 1.5s;
  align-items: center;
  justify-content: center;
}

@keyframes first {
  0% {
    stroke-dashoffset: 589px;
    stroke-dasharray: 589px;
  }

  100% {
    stroke-dashoffset: 1179px;
    stroke-dasharray: 589px;
  }
}

@keyframes second {
  0% {
    stroke-dashoffset: 110px;    stroke-dasharray: 110px;
  }

  100% {
    stroke-dashoffset: 220px;
    stroke-dasharray: 110px;
  }
}

@keyframes out {
  0% {
  }
  100% {
    left: 16px;
    transform: translate(0px, -50%);
    top: 32px;
  }
}
.container {
  width: 100%;
  max-width: var(--width-limit);
  height: 100%;
  position: relative;
  padding: 0 16px;
}
.slow {
  background: transparent;
}
.slow .main {
  animation: out 1s var(--transition) 1.75s forwards;
}
.preloader svg {
  height: 72px;
  opacity: 0;
  transition: height 1s var(--transition) 1.75s, opacity 0s linear;
}

.slow svg {
  height: 32px;
  opacity: 1;

}
.dev {
  pointer-events: all;
}
.dev svg {
  opacity: 1;
}
.main {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  align-items: center;
  justify-content: center;
  gap: 16px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main p {
  font-size: 48px;
  overflow: hidden;
  width: 0px;
  font-family: var(--font-nunito);
  font-weight: 600;
  transition: width 0.5s var(--transition) 1s, font-size 1s var(--transition) 1.75s;
}

.slow .main p {
  font-size: 24px;
  width: 256px;
}
.dev .main p {
  width: 229px;
}

.slow .first,
.dev .first {
  animation: first 1s cubic-bezier(0.23, 1, 0.32, 1) 0s both;
}
.slow .second,
.dev .second {
  animation: second 1s cubic-bezier(0.23, 1, 0.32, 1) 0s both;
}

.fast svg {
  opacity: 1;
  transition: all 0.3s var(--transition);
}
.hide {
  transition: all 0.2s var(--transition);
  opacity: 0;
}
.remove {
  display: none;
}
.fast .first {
  animation: first 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.fast .second {
  animation: second 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.building {
  opacity: 0;
  position: absolute;
  filter: blur(3px);
  transform: translateY(0);
  background: var(--gray24);
  border-radius: 1.2em;
  bottom: 0;
  height: 52px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
.building * {
  transition: all 2s ease;
}
.dev section {
  display: none;
  position: absolute;
  padding: 0.75em 1em;
  overflow: hidden;
  max-width: -webkit-fill-available;
  gap: 0.75em;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  filter: blur(2px);
  opacity: 0.2;
  transform: translateY(-64px);
  transition: all 0.4s var(--transition);
}
.dev section.p2 {
  display: flex;
  transform: translateY(-32px);
}
.dev section.p3 {
  display: flex;
  filter: none;
  opacity: 1;
  transform: translateY(0);
}
.dev section.p4 {
  transform: translateY(32px);
  display: flex;
}
.dev section.p5 {
  display: flex;
  transform: translateY(64px);
}
.building section p {
  white-space: nowrap;
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: transparent;
  width: -webkit-fill-available;
  transition: all 0.4s var(--transition);
}
.dev section.p3 p {
  color:  var(--white);
}
.building section img {
  height: 28px;
}
.dev .building {
  filter: none;
  opacity: 1;
  transform: translateY(calc(100% + 1.2em));
  transition: all 0.5s var(--transition) 1.8s;
}


@keyframes building-onchange {
  0% {
    stroke-dashoffset: 589px;
    stroke-dasharray: 589px;
  }

  100% {
    stroke-dashoffset: 1179px;
    stroke-dasharray: 589px;
  }
}
