.wrapper {
  display: grid;
  width: 100%;
  overflow: hidden;
  gap: var(--gap);
  grid-template-columns: repeat(auto-fill, minmax(calc((var(--width-limit) - 56px) / 3), 1fr));
}
.page {
  padding: 16px;
  height: calc(100vh - var(--header-height));
}
.fill {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: row;
  border-radius: var(--border-m);
  overflow: hidden;
  width: 100%;
  border: 1px solid var(--accent-2);
  background: var(--geist-background);
  height: 100%;
}
.background {
  position: absolute;
  background: var(--white);
  top: 0;
  height: 100%;
  width: 50%;
  z-index: -1;
}
.shape {
  position: absolute;
  left: -10%;
  aspect-ratio: 1 / 1 !important;
  height: 100% !important;
  z-index: 0;
  width: unset;
}
.lines {
  right: -15%;
  position: absolute;
  aspect-ratio: 1 / 1 !important;
  height: 100% !important;
  width: unset;
  left: unset;
  scale: 1.4;
  z-index: -1;
}
.left,
.right {
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: var(--padding-s);
}
.fill ul {
  font-size: 18px;
  padding: 0 36px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}
.left li {
  text-align: right;
}
.fill li {
  font-weight: 400;
  font-size: 14px;
}
.left {
  width: 50%;
  padding: 32px 0;
  align-items: center;
}
.left * {
  color: var(--meta-black);
}
.right {
  padding-left: 0;
  width: 50%;
  height: 100%;
}
.left h4,
.right h4 {
  font-size: 36px;
  width: 100%;
}
.left h4 {
  text-align: center;
}
.right h4 {
  text-align: left;
  padding-left: 32px;
}
@media all and ( max-width: 1024px ) {
  .wrapper {
    height: auto;
    flex-direction: column;
  }
}
.button_wrapper {
  width: 100%;
  display: flex;
  gap: 8px;
}
.right .button_wrapper {
  justify-content: flex-start;
}
.left .button_wrapper {
  justify-content: flex-end;
}
.find_tournament {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  filter: invert(1);
  font-weight: 700;
}
.create_team {
  font-weight: 600;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.find_team {
  background: transparent !important;
}
.card {
  height: 100%;
  background: #ffffff73 !important;
  overflow: hidden;
  backdrop-filter: blur(5px);
}
.card .icon {
  background-color: black;
  min-width: 36px;
}
.card .icon img {
  filter: var(--filter-to-white);
}
.card .heading {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap);
}
.card .heading h3 {
  display: flex;
  align-items: center;
  height: 36px;
  font-weight: 500;
}
.card p {
  flex: 1;
text-shadow: 0px 1px 2px #ffffff24;
  font-weight: 500 !important;
  font-size: 16px !important;
}
.card > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
.carousel {
  width: calc(100% - 64px - 64px);
  height: 100%;
}
.carousel_right {
  filter: invert(1);
}