.wrapper {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  justify-content: center;
}
.wrapper * {
  line-height: 100%;
  text-align: center;
}
.wrapper h1 {
  position: absolute;
  font-size: 64px;
  left: 16.6%;
  transform: translateX(-50%);
  top: 64px;
}
.wrapper h2 {
  position: absolute;
  font-size: 56px;
  left: 36.6%;
  transform: translateX(-50%);
  top: 128px;
}
.wrapper h3 {
  position: absolute;
  font-size: 48px;
  left: 50%;
  transform: translateX(-50%);
  top: calc(128px + 56px);
}
.wrapper h4 {
  position: absolute;
  font-size: 40px;
  right: 36.6%;
  transform: translateX(50%);
  top: calc(128px + 56px + 48px);
}
.wrapper h5 {
  position: absolute;
  font-size: 32px;
  right: 16.6%;
  transform: translateX(50%);
  top: calc(128px + 56px + 48px + 40px);
}
.wrapper h6 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.button {
  position: absolute;
}
.tournaments {
  left: 6%;
  top: 35%;
}
.teams {
  right: 28%;
  bottom: 20%;
}
.create_team {
  left: 38%;
  bottom: 29%;
}
.create_tournament {
  right: 7%;
  top: 20%;
}