.wrapper {
  background: var(--soft-black);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
  border-top: 1px solid var(--accent-3);
}
.content {
  max-width: var(--width-limit);
  width: 100%;
}
.operational {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 16px;
}

.operational .left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.operational p {
  font-weight: 200;
  font-family: 'Nunito';
  font-size: var(--text-small);
}
.operational .left > img {
  height: 24px;
  aspect-ratio: 1 / 1;
}
.operational a::before {
  content: "";
  height: 8px;
  width: 8px;
  display: inline-flex;
  background: var(--geist-blue);
  border-radius: var(--round);;
}
.operational a {
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: var(--border-l);
  color: var(--geist-blue);
  font-weight: 500;
  font-size: var(--text-small);
  font-family: 'Nunito';
  padding: 8px;
}
.operational a:hover {
  background: var(--gray16);
}

.addictional {
  display: flex;
  gap: 32px;
}

.navigation {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  flex-wrap: wrap;
}
.navigation * {
  color: var(--text-dimmed);
  font-size: var(--text-small);
}
.socials {
  filter: brightness(1) saturate(0);
  display: flex;
  align-items: center;
  gap: 8px;
}
.navigation a {
  padding: 1em;
}
.socials img {
  height: 24px;
  width: 24px;
}