.qrcode {
  padding: var(--gap);
  background: var(--white);
  border: var(--geist-border);
  border-radius: var(--border-s);
}
.banner {
  width: min-content;
}
.banner > div {
  display: flex;
  align-items: center;
}
.button {
  width: 100%;
}
.banner > div > span {
  font-size: 12px;
  color: var(--text-dimmed);
  font-weight: 400;
  text-align: center;
  width: 100%;
}