.panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: calc(100vh - var(--header-height));
  width: 100%;
  max-width: var(--width-limit);
  padding: 20px 16px;
  gap: 16px;
  background: var(--black);
}
.panel[data-splitter='true'] > img {
  width: calc(100% - 32px);
  transform: translateY(50%);
  bottom: 0;
  display: block;
  position: absolute;
}
.panel > img {
  display: none;
}
.panel .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.panel .right {
  flex-direction: column;
}
@media (max-width: 1488px) {
  .panel {
    flex-direction: column;
    justify-content: space-evenly;
  }
}