.service p {
  font-size: 11px;
  font-family: var(--font-mono);
  color: currentColor;
  font-weight: 400;
  white-space: nowrap;
  max-width: 172px;
}
.service svg {
  flex-shrink: 0;
}
.path {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 172px;
}
.service {
  width: 100%;
  flex-shrink: 0;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
}
.service:hover {
  color: var(--white);
  background-color: var(--gray-100);
}
.service.error {
  background: var(--red-100);
  color: var(--red-900)
}
.domain {
  width: 72px;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
}
.status {
  display: grid;
  place-content: center;
  height: 16px;
  border-radius: 4px;
  font-weight: 400;
  font-family: var(--font-mono, --font-geist-mono, 'Mono');
  font-size: 11px;
  line-height: 16px;
  flex: none;
  padding: 0 4px;
  border: 1px solid
}