.message {
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  bottom: 16px;
  gap: 14px;
  right: 16px;
  height: calc(100vh - 96px);
}
@keyframes message-animation {
  0% {
    transform: translateX(calc(100% + 16px));
  }

  100% {
    transform: translateX(0px);
  }
}
.message div {
  padding: 0.75em 1em;
  padding-top: calc(0.75em - 6px);
  font-size: 16px;
  font-weight: 600;
  max-width: calc(30vw - 32px);
  border-radius: 16px;
  transition: opacity 0.5s var(--transition);
  animation: message-animation 0.5s var(--transition) forwards;
}
.message div p {
  line-height: 24px;
}
.message div p::before {
  transform: translateY(6px);
  display: inline-block;
  margin-right: 6px;
  height: 24px;
}


.message div[itemType="success"] {
  background: #d2fbd0;
  border: 1px solid #0d5f07;
}
.message div[itemType="success"] p {
  color: #0d5f07;
}
.message div[itemType="success"] p::before {
  content: url("https://cdn.impactium.fun/custom/circle-check.svg");
}


.message div[itemType="warning"] {
  background: #fbf8d0;
  border: 1px solid #5f5907;
}
.message div[itemType="warning"] p {
  color: #5f5907;
}
.message div[itemType="warning"] p::before {
  content: url("https://cdn.impactium.fun/custom/circle-minus.svg");
}

.message div[itemType="attention"] {
  background: #fbd0d0;
  border: 1px solid #5f0707;
}
.message div[itemType="attention"] p {
  color: #5f0707;
}
.message div[itemType="attention"] p::before {
  content: url("https://cdn.impactium.fun/custom/circle-xmark.svg");
}
.message div.toHide {
  opacity: 0;
}