<style>
  .inform-panel > canvas {
    height: unset !important;
    width: unset !important;
  }
</style>
<div class="default-alpha-block 1st flex inform-panel flex-dir-row" style="overflow: hidden;">
  <div class="line-one">
    <p></p>
    <button>
      <img src="">
    </button>
  </div>
  <div class="line-two">
    <div class="bar">
      <span id="maxY"></span>
      <p id="nameY"></p>
    </div>
    <canvas id=""></canvas>
  </div>
  <div class="line-three">
    <div class="toggler">
      <button id="toDays">1d</button>
      <button id="toWeeks">1w</button>
    </div>
    <p id="nameX"></p>
    <span id="maxX"></span>
  </div>
</div>
<script>
  const rawData = JSON.parse(`<%- JSON.stringify(stat) %>`);
  const data = [];

  const labels = Array.from({ length: 24 }, (_, i) => (i < 10 ? `0${i}` : `${i}`) + ':00');

  Object.values(rawData).forEach(date => {
    console.log(date)
    for (const hour of labels) {
      const entry = date[hour.slice(0, 2)] || { messagesPerHour: 0 };
      data.push(entry.messagesPerHour);
    }
  });

  console.log(data)

  const canvas = document.getElementById('').getContext('2d');

  new Chart(canvas, {
  type: 'line',
  data: {
    labels: labels,
    datasets: [
      {
        data: data,
        borderColor: 'rgb(187, 0, 255)',
        borderWidth: 3,
        pointRadius: 0,
        lineTension: 0.5,
      },
    ],
  },
  options: {
    responsive: false,
    maintainAspectRatio: true,
    plugins: {
      legend: {
        display: false,
        opacity: 0,
      },
    },
    scales: {
      x: {
        display: false,
      },
      y: {
        display: false,
      },
    },
    width: "auto",
    height: "auto",
  },
});

</script>