<style>
  .inform-panel canvas {
    max-height: 100% !important;
    max-width: 100% !important;
  }
</style>
<div class="default-alpha-block 1st flex inform-panel flex-dir-column" style="overflow: hidden;">
  <div class="line-one flex">
    <p></p>
    <button>
      <img src="">
    </button>
  </div>
  <div class="line-two flex">
    <div class="bar">
      <span id="maxY"></span>
      <p id="nameY"></p>
    </div>
    <canvas id="<%= name %>"></canvas>
  </div>
  <div class="line-three flex">
    <div class="toggler">
      <button id="toDays">1d</button>
      <button id="toWeeks">1w</button>
    </div>
    <p id="nameX"></p>
    <span id="maxX"></span>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
<script>
  (function() {
    const rawData = JSON.parse(`<%- JSON.stringify(stat) %>`);
    const statisticsName = "<%= name %>"
    const data = [];

    const hours = Array.from({ length: 24 }, (_, i) => (i < 10 ? `0${i}` : `${i}`) + ':00');

    let previousValue = 0;

    Object.values(rawData).forEach(date => {
      for (const hour of hours) {
        const entry = date[hour.slice(0, 2)];
        const value = entry && entry[statisticsName] !== undefined 
          ? entry[statisticsName]
          : previousValue;

        data.push(value);
        previousValue = value;
      }
    });

    const canvas = document.getElementById('<%= name %>').getContext('2d');

    new Chart(canvas, {
      type: 'line',
      data: {
        labels: hours,
        datasets: [
          {
            data: data,
            borderColor: 'rgb(187, 0, 255)',
            borderWidth: 3,
            pointRadius: 0,
            lineTension: 0.2,
          },
        ],
      },
      options: {
        responsive: false,
        maintainAspectRatio: true,
        plugins: {
          legend: {
            display: false,
            opacity: 0,
          },
        },
        scales: {
          x: {
            display: false,
          },
          y: {
            display: false,
          },
        },
        width: "auto",
        height: "auto",
      },
    });
  })();
</script>