<div class="work-window">
    <%- include(`${lang.debugPath}/views/modules/terminal/guild/body.ejs`, { guild: guilds.filter(guildDb => !guildDb.isFakeGuild)[0], lang }) %>
  </div>
  <%- include(`${lang.debugPath}/views/modules/terminal/guild/nav.ejs`, guilds) %>