<style>
  * {
    letter-spacing: 1px;
  }
  main {
    height: calc(100vh - 80px);
    flex-direction: row;
  }
  navbar {
    width: calc(128px * 2 + 16px);
    padding: 16px;
    padding-left: 8px;
    background-color: rgb(75 75 75 / 5%);
    backdrop-filter: blur(15px);
    gap: 8px;
    border-top: 1px solid var(--c-36);
  }
  navbar .option {
    cursor: pointer;
    height: 48px;
    border-radius: 17px;
    border-bottom-right-radius: 5px;
    background: var(--c-36);
    width: calc(100%);
    padding: 6px;
    gap: 8px;
    transition: all 0.3s var(--trans);
    position: relative;
  }
  navbar .option:hover {
    background: var(--c-48);
  }
  navbar .option > img {
    height: 38px;
    pointer-events: none;
    border-radius: 11px;
  }
  navbar .option > p {
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
    text-shadow: 0px 2px 5px var(--c-16);
  }
  navbar .option .users {
    position: absolute;
    bottom: 0;
    right: 0;
    gap: 4px;
    padding: 0 4px 3px 0;
  }
  navbar .option .users > img {
    height: 13px;
  }
  navbar .option .users > p {
    margin-bottom: -2px;
    font-size: 11px;
  }
  navbar .option.disabled {
    pointer-events: none;
    cursor: not-allowed;
    filter: brightness(0.5) saturate(0);
  }
  navbar screen {
    left: 0;
    transition: background 0.25s var(--trans);
    background: transparent;
    display: none;
    border-radius: 17px;
    border-bottom-right-radius: 5px;
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  navbar screen.onWait {
    background: #242424e8;
    display: flex;
    pointer-events: all;
  }
  navbar screen svg {
    opacity: 0;
    pointer-events: none;
    height: 36px;
    z-index: 4;
  }
  navbar screen.onWait svg {
    opacity: 1;
  }
  navbar screen.onWait .logo-animation-first {
    animation: logo-animation-first 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
  }

  navbar screen.onWait .logo-animation-second  {
    animation: logo-animation-second 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
  }
</style>
<navbar class="flex align-center flex-dir-column">
  <% guilds.forEach(guild => { %>
    <button class="option <% if (!guild.isBotAdmin && !guild.isFakeGuild) { %>disabled <% } %>flex-dir-row align-center" onclick="guildToWorkSelect('<%- guild.id %>', this)">
      <img src="<%- guild.avatar %>">
      <p><%- guild.name %></p>
      <div class="users flex flex-dir-row center">
        <p><%- guild.members %></p>
        <img src="/static/images/users.svg">
      </div>
      <screen>
        <svg viewBox="-11.439 -11.421 403.213 522.815" xmlns="http://www.w3.org/2000/svg">
          <g fill="none" stroke="#e8e8e8" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="15" stroke-width="12" transform="matrix(3.130766, 0, 0, 3.130766, -102.465179, -42.383404)">
            <path style="paint-order: markers stroke; stroke: #e8e8e8; stroke-width: 14.0541px;" d="M 101.029 151.687 C 104.583 140.367 103.311 126.12 111.702 117.729 C 125.54 103.891 145.608 96.295 150.177 77.627 C 153.035 65.951 143.679 57.123 126.238 49.704 C 95.979 38.811 65.978 27.81 36.102 16.917 M 150.838 169.855 C 120.962 158.962 90.961 147.961 60.702 137.068 C 43.261 129.649 33.905 120.821 36.763 109.145 C 41.332 90.477 61.662 82.62 75.238 69.044 C 83.63 60.652 82.357 46.405 85.911 35.085 M 36.102 16.917 L 75.094 68.892 M 111.783 117.796 L 150.838 169.855" class="logo-animation-first"></path>
            <path style="paint-order: markers stroke; stroke: #e8e8e8; stroke-width: 14.0541px;" d="M 125.234 51.047 C 102.473 105.997 84.364 80.48 61.201 136.4" class="logo-animation-second"></path>        
          </g>
        </svg>
      </screen>
    </button>
  <% }); %>
</navbar>
<script>
function guildToWorkSelect(selectedGuildId, button) {
  toggleWaitingScreenToNav(button, true);
  $.ajax({
    url: "/terminal/guild-mode-select",
    type: "POST",
    data: JSON.stringify({ id: selectedGuildId }),
    contentType: "application/json",
    success: function (response) {
      toggleWaitingScreenToNav(button, false);
      const renderZone = $(".work-window");
      renderZone.html("");
      renderZone.html(response);
    },
    error: function (error) {
      console.log("net gg");
    }
  });
}

function toggleWaitingScreenToNav(button, state) {
  if(state) {
    $(button).find('screen').addClass('onWait')
    $(".work-window").css('opacity', 0.5)
  } else {
    $(button).find('screen').removeClass('onWait')
    $(".work-window").css('opacity', 1)
  }
}
</script>