._ {
  display: flex;
  border: 1px solid var(--accent-3);
  border-radius: var(--border-s);
  background: var(--soft-black);
  flex-direction: row;
  overflow: hidden;
}

.method {
  cursor: pointer;
  display: flex;
  gap: 12px;
  align-items: center;
  aspect-ratio: 3 / 2;
  flex: 1;
  border-right: 1px solid var(--accent-3);
  transition: all .3s var(--transition);
  flex-direction: column;
  justify-content: center;
}

.disabled {
  pointer-events: none;
}
.disabled img,
.disabled .text {
  filter: var(--filter-to-dimmed);
}

.method:last-child {
  border: unset;
}

.method:hover {
  background: var(--black);
}

.method img {
  height: 64px;
  padding: 3px;
}

.text {
  font-size: 18px;
}
.method > div {
  position: absolute;
  backdrop-filter: blur(5px);
}