._ {
  display: flex;
  border: 1px solid var(--accent-3);
  border-radius: var(--border-s);
  background: var(--soft-black);
  flex-direction: column;
  overflow: hidden;
}

.method {
  cursor: pointer;
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 8px 12px;
  border-bottom: 1px solid var(--accent-3);
  transition: all .3s var(--transition);
}

.disabled {
  pointer-events: none;
}
.disabled img,
.disabled .text {
  filter: brightness(0.6);
}

.method:last-child {
  border: unset;
}

.method:hover {
  background: var(--black);
}

.method img {
  height: 32px;
  padding: 3px;
}

.text {
  font-size: 18px;
  flex: 1;
}

.soon {
  display: flex;
  gap: 6px;
  border-radius: var(--border-l);
  font-weight: 700;
  font-size: var(--text-small);
  font-family: var(--font-mono);
  padding: 8px;
  align-items: center;
  transition: all .3s var(--transition);
  background: var(--gray16);
}
.soon span::after {
  content: "";
  height: 8px;
  width: 8px;
  display: inline-flex;
  border-radius: var(--round);
}
.soon span {
  height: 100%;
  display: inline-flex;
}
.soon {
  color: var(--geist-blue);
}
.soon span::after {
  background-color: var(--geist-blue);
}