._ {
  display: flex;
  border: 1px solid var(--accent-2);
  border-radius: var(--border-s);
  background: var(--soft-black);
  flex-direction: column;
  gap: 8px;
  overflow: hidden;
  width: min-content;
}

.method {
  width: 100%;
  height: 36px;
  display: flex;
  flex-direction: row;
  font-weight: 500;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  color: var(--text-white);  
}

.method > img {
  filter: brightness(1);
}

.discord,
.discord:hover {
  background: #5165f6;
}

.steam,
.steam:hover {
  background: #18305e;
}

.disabled {
  pointer-events: none;
}
.disabled img,
.disabled .text {
  filter: var(--filter-to-dimmed);
}

.text {
  font-size: 18px;
}
.method > div {
  position: absolute;
  backdrop-filter: blur(5px);
}
.telegramWidget {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.telegramWidget > iframe {
  height: 36px !important;
  width: 100% !important;
}