
.dynamic {
  --saturation: 82.26%;
  --lightness: 51.37%;
}
.dynamic.me {
  --hue: 240;
}
.dynamic.setNickname {
  --hue: 120;
}
.dynamic.setPassword {
  --hue: 45;
}
.dynamic.setSkin {
  --hue: 350;
}
.achievements_module.casual {
  --hue: 120; --saturation: 100%; --lightness: 82%;
}
.achievements_module.defence {
  --hue: 220; --saturation: 98%; --lightness: 62%;
}
.achievements_module.killer {
  --hue: 58; --saturation: 100%; --lightness: 61%;
}
.achievements_module.event {
  --hue: 290; --saturation: 97%; --lightness: 69%;
}
.achievements_module.donate {
  --hue: 187; --saturation: 83%; --lightness: 70%;
}
.achievements_module.hammer {
  --hue: 359; --saturation: 85%; --lightness: 62%;
}
.dynamic {
  --hsl: var(--hue), var(--saturation), var(--lightness);
}
.panel [tooverlayview] {
  position: relative;
}
.panel [tooverlayview]::before {
  content: "";
  height: calc(100% - 1px);
  width: calc(100% - 1px);
  z-index: 1;
  border-radius: 10px;
  background: #0d0d0d;
  transform: translate(-0.7em, -0.7em);
  position: absolute;
  opacity: 0;
  transition: all 0.3s var(--trans);
}
.panel [tooverlayview]::after {
  content: url("https://cdn.impactium.fun/ux/loader24p.svg");
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  animation: rotateAnimation 2s linear infinite;
  position: absolute;
  height: 24px;
  z-index: 2;
  opacity: 0;
  transition: all 0.3s var(--trans);
}
.panel [tooverlayview].wait::before,
.panel [tooverlayview].wait::after {
  opacity: 1;
}
.profile [tooverlayview] {
  position: relative;
}
.profile [tooverlayview]::before {
  content: "";
  height: calc(100% - 1px);
  width: calc(100% - 1px);
  z-index: 1;
  border-radius: 10px;
  background: #0d0d0d;
  transform: translate(-0.7em, -0.7em);
  position: absolute;
  opacity: 0;
  transition: all 0.3s var(--trans);
}
.profile [tooverlayview]::after {
  content: url("https://cdn.impactium.fun/ux/loader24p.svg");
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  animation: rotateAnimation 2s linear infinite;
  position: absolute;
  height: 24px;
  z-index: 2;
  opacity: 0;
  transition: all 0.3s var(--trans);
}
.profile [tooverlayview].wait::before,
.profile [tooverlayview].wait::after {
  opacity: 1;
}
.overlay {
  flex-direction: column;
  height: fit-content;
  position: absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
  opacity: var(--opacity, 0);
  -webkit-mask: radial-gradient(
    25rem 25rem at var(--x) var(--y),
    #000 1%,
    transparent 50%
  );
  mask: radial-gradient(
    25rem 25rem at var(--x) var(--y),
    #000 1%,
    transparent 50%
  );
  transition: 400ms mask ease;
  will-change: mask;
}

.overlay .dynamic {
  background-color: hsla(var(--hsl), 0.15);
  border-color: hsla(var(--hsl), 1);
  box-shadow: 0 0 0 1px inset hsl(var(--hsl));
}

.overlay .change_profile {
  display: block;
  grid-row: -1;
  width: 100%;
  white-space: nowrap;
  background-color: hsl(var(--hsl));
  box-shadow: 0 0 0 1px hsl(var(--hsl));
}

:not(.overlay) > .dynamic {
  transition: 400ms background ease;
  will-change: background;
}

:not(.overlay) > .dynamic:hover {
  --lightness: 95%;
  background: hsla(var(--hsl), 0.1);
}

.overlay .controls {
  height: unset !important;
}
.overlay .upload-button {
  width: fit-content;
}
.overlay .default_panel_style {
  display: flex;
  justify-content: flex-end;
}
.overlay .save-button {
  position: relative;
  width: min-content;
}
.overlay .middle_line {
  height: unset !important;
  width: unset !important;
}
.overlay .server_info .default {
  background: #0d0d0d;
}
.overlay .server_info .default > span {
  color: var(--w);
}
.overlay .server_info .default > p {
  color: var(--w);
}
.overlay .version {
  opacity: 0;
}