main {
  align-items: center;
}
.personal {
  padding-top: 3vh;
  display: flex;
  width: calc(100vw - 64px);
  max-width: 1344px;
  height: calc(100vh - 80px);
  gap: 32px;
}
.personal nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

@media (max-width: 767px) {
.personal nav {
  align-items: flex-start;
}
}
.personal nav button {
  background: var(--c-36);
  padding: 8px;
  min-height: 32px;
  min-width: 192px;
  gap: 8px;
  border-radius: 12px;
  display: flex;
  align-items: center;
}
.personal nav button:hover {
  background: var(--c-48);
}
.personal nav button.selected {
  background: var(--c-48);
}
.personal nav button p {
  flex: 1;
  text-align: left;
}
.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  gap: 32px;
  width: 100%;
}
@media (max-width: 1080px) {
  .personal {
    flex-direction: column;
  }
  .personal nav {
    align-items: flex-start;
  }
}
:root {
  --hammer: url("https://api.impactium.fun/ux/hammer.svg");
  --hammer-accent: #F14C50;
  --casual: url("https://api.impactium.fun/ux/casual.svg");
  --casual-accent: rgb(163, 255, 163);
  --defence: url("https://api.impactium.fun/ux/defence.svg");
  --defence-accent: #417FFD;
  --killer: url("https://api.impactium.fun/ux/killer.svg");
  --killer-accent: #F2DE4C;
  --event: url("https://api.impactium.fun/ux/event.svg");
  --event-accent: #E465FD;
  --donate: url("https://api.impactium.fun/ux/donate.svg");
  --donate-accent: #72E4F2;
}
.me {
  --flow-space: 0.5em;
  padding: 1.5em 2em !important;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  align-items: start;
  gap: 1.25em;
  min-width: 256px;
}
.me ul {
  width: 100%;
  line-height: 1.4;
  flex: 1;
}
.me ul li::before {
  display: inline-block;
  transform: translateY(0.3ch);
  margin-right: 1ch;
}

.me ul hr {
  height: 4px;
  width: 100%;
  margin-top: 2px;
  background: var(--c-48);
  border-radius: 2px;
  display: flex;
  border: none;
}
.me ul hr::after {
  content: "";
  min-width: 20px;
  border-radius: 2px;
}

.me ul li[--hammer]::before { content: var(--hammer) }
.me ul li[--hammer] hr::after { background-color: var(--hammer-accent) }

.me ul li[--casual]::before { content: var(--casual) }
.me ul li[--casual] hr::after { background-color: var(--casual-accent) }

.me ul li[--defence]::before { content: var(--defence) }
.me ul li[--defence] hr::after { background-color: var(--defence-accent) }

.me ul li[--killer]::before { content: var(--killer) }
.me ul li[--killer] hr::after { background-color: var(--killer-accent) }

.me ul li[--event]::before { content: var(--event) }
.me ul li[--event] hr::after { background-color: var(--event-accent) }

.me ul li[--donate]::before { content: var(--donate) }
.me ul li[--donate] hr::after { background-color: var(--donate-accent) }

.me ul li[--1] hr::after { width: 20%; }
.me ul li[--2] hr::after { width: 40%; }
.me ul li[--3] hr::after { width: 60%; }
.me ul li[--4] hr::after { width: 80%; }
.me ul li[--5] hr::after { width: 100%; }



.me .header {
  font-size: 1.05em;
  font-weight: 600;
}
.me .player {
  font-size: 1.75em;
  font-weight: 600;
  display: flex;
  gap: 8px;
  align-items: baseline;
}
.me .player img {
  image-rendering: pixelated;
  height: 24px;
  width: 24px;
  image-rendering: optimizeSpeed;
  background: var(--c-48);
}
.me .change_profile {
  width: 100%;
}

.privileges > * + * {
  margin-top: var(--flow-space, 1.25em);
}
.change_profile,
.default_panel_style input {
  display: block;
  cursor: pointer;
  align-self: end;
  margin: 1em 0 0.5em 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #0d0d0d;
  padding: 0.7em;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  grid-row: -1;
}
.default_panel_style input {
  cursor: text;
  z-index: 1;
}
.default_panel_style p {
  flex: 1;
}
.default_panel_style span {
  font-size: 12px;
}
.default_panel_style .profile-header > img {
  margin-right: 4px;
  height: 12px;
}
.top_line {
  height: min-content;
  gap: 32px;
  width: 100% !important;
}
.controls {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 32px;
}
.default_panel_style {
  position: relative;
  overflow: hidden;
  padding: 0.75em 1em;
  border-radius: 16px;
  color: #eceff1;
  background-color: #2b2b2b;
  border: 1px solid #eceff133;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.default_panel_style input {
  text-align: left;
  padding: 0.44em;
  width: 100%;
  border: 1px solid #0d0d0d;
  flex: 1;
}
.default_button_style {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  border: 1px solid #0d0d0d;
  flex: 1;
  margin: 1em 0 0.5em 0;
  text-decoration: none;
  color: #fff;
  background-color: #0d0d0d;
  line-height: normal;
  padding: 0.44em;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  grid-row: -1;
  z-index: 1;
}

.controls .default_panel_style.blocked::after {
  content: url(https://api.impactium.fun/ux/lock24p.svg);
  display: flex;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(2px);
  background: #252525e3;
  align-items: center;
  justify-content: center;
}
.upload-button {
  padding: calc(0.7em - 6px) calc(2.8em - 6px);
  cursor: pointer;
}
.upload-button img {
  height: 24px;
  pointer-events: none;
}
@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.upload-button img.rotate {
  animation: rotateAnimation 2s linear infinite;
}
#skinUploadOnErrorMessageContainer,
#nicknameUpdateOnErrorMessageContainer {
  color: var(--c-96);
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  text-wrap: nowrap;
  transform: translateY(calc(0.5em + 50%));
}
.grayed {
  color: var(--c-96) !important;
  z-index: 0 !important;
}
.greyed {
  filter: brightness(0.55) !important;
  z-index: 0;
}
.me p {
  flex: unset;
}
@media (max-width: 767px) {
  .personal {
    flex-direction: column;
  }
  .profile {
    flex-direction: column;
  }
  .liner {
    flex-direction: column;
  }
  .controls {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .achievements_module {
    grid-row: 4 / 16;
    grid-column: 1 / 2;
  }
}
.overlay *[toOverlayView] {
  z-index: 2;
}