main {
  align-items: center;
}
.personal {
  padding: 32px 0 32px 0;
  display: flex;
  width: calc(100vw - 64px);
  max-width: 1344px;
  min-height: calc(100vh - 160px);
  gap: 32px;
}
.personal nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

@media (max-width: 767px) {
.personal nav {
  align-items: flex-start;
}
}
.personal nav button {
  background: var(--c-32);
  padding: 8px;
  min-height: 32px;
  min-width: 192px;
  gap: 8px;
  border-radius: 12px;
  display: flex;
  align-items: center;
}
.personal nav button:hover {
  background: var(--c-48);
}
.personal nav button.selected {
  background: var(--c-48);
}
.personal nav button p {
  flex: 1;
  text-align: left;
}
.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  gap: 32px;
  width: 0%;
}
@media (max-width: 1080px) {
  .personal {
    flex-direction: column;
  }
  .profile {
    width: 100%;
  }
  .personal nav {
    align-items: flex-start;
  }
}
:root {
  --hammer: url("https://cdn.impactium.fun/ux/hammer.svg");
  --hammer-accent: #F14C50;
  --casual: url("https://cdn.impactium.fun/ux/casual.svg");
  --casual-accent: rgb(163, 255, 163);
  --defence: url("https://cdn.impactium.fun/ux/defence.svg");
  --defence-accent: #417FFD;
  --killer: url("https://cdn.impactium.fun/ux/killer.svg");
  --killer-accent: #F2DE4C;
  --event: url("https://cdn.impactium.fun/ux/event.svg");
  --event-accent: #E465FD;
  --donate: url("https://cdn.impactium.fun/ux/donate.svg");
  --donate-accent: #72E4F2;
}


.privileges > * + * {
  margin-top: var(--flow-space, 1.25em);
}
.change_profile,
.default_panel_style input {
  display: block;
  text-wrap: nowrap;
  cursor: pointer;
  align-self: end;
  margin: 1em 0 0.5em 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #0d0d0d;
  padding: 0.7em;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  grid-row: -1;
}
.default_panel_style input {
  cursor: text;
  z-index: 1;
}
.default_panel_style p {
  flex: 1;
}
.default_panel_style span {
  font-size: 12px;
}
.default_panel_style .profile-header > img {
  margin-right: 4px;
  height: 12px;
}
.top_line {
  height: min-content;
  gap: 32px;
  width: 100% !important;
}
.controls {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 32px;
}
.default_panel_style {
  position: relative;
  overflow: hidden;
  padding: 0.75em 1em;
  border-radius: 16px;
  color: #eceff1;
  background-color: #2b2b2b;
  border: 1px solid #eceff133;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.default_panel_style input {
  text-align: left;
  padding: 0.44em;
  width: 100%;
  border: 1px solid #0d0d0d;
  flex: 1;
}
.default_button_style {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  border: 1px solid #0d0d0d;
  flex: 1;
  margin: 1em 0 0.5em 0;
  text-decoration: none;
  color: #fff;
  background-color: #0d0d0d;
  line-height: normal;
  padding: 0.44em;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  grid-row: -1;
  z-index: 1;
}

.controls .default_panel_style.blocked::after {
  content: url(https://cdn.impactium.fun/ux/lock24p.svg);
  display: flex;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(2px);
  background: #252525e3;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.upload-button {
  padding: calc(0.7em - 6px) calc(2.8em - 6px);
  cursor: pointer;
}
.upload-button img {
  height: 24px;
  pointer-events: none;
}
@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.upload-button img.rotate {
  animation: rotateAnimation 2s linear infinite;
}
#skinUploadOnErrorMessageContainer,
#nicknameUpdateOnErrorMessageContainer {
  color: var(--c-96);
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  text-wrap: nowrap;
  transform: translateY(calc(0.5em + 50%));
}
.grayed {
  color: var(--c-96) !important;
  z-index: 0 !important;
}
.greyed {
  filter: brightness(0.55) !important;
  z-index: 0;
}
.me p {
  flex: unset;
}
@media (max-width: 767px) {
  .personal {
    flex-direction: column;
  }
  .profile {
    flex-direction: column;
    width: 100%;
  }
  .liner {
    flex-direction: column;
  }
  .controls {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .achievements_module {
    grid-column: 1/2 !important;
    grid-row: 4/16 !important;
  }
}
.overlay *[toOverlayView] {
  z-index: 2;
}
.player_loader {
  position: relative;
  width: 100%;
}
.player_loader::after {
  content: "";
  top: -4px;
  left: -4px;
  position: absolute;
  background: linear-gradient(90deg, rgba(36,36,36,1) 45%, rgba(232,232,232,1) 50%, rgba(36,36,36,1) 55%);
  background-size: 300%;
  width: 100%;
  height: 100%;
  padding: 4px;
  box-sizing: content-box;
  border-radius: 8px;
  animation: personal-loader .8s linear infinite;
}
.player_loader.for_input::after {
  width: calc(100% - 8px - 0.88em);
  left: 0.44em;
  height: calc(100% - 1.5em - 1.32em);
  top: calc(1em + 0.44em);
}
.setSkin .player_loader::after {
  height: calc(100% - 1.32em);
  top: 0.44em;
}
@keyframes personal-loader {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
.me .change_profile {
  width: calc(256px - 2em);
}