.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.unit > div {
  flex-direction: row;
}
.team_combination {
  flex: 1;
}
.winner > div,
.loser > div {
  max-width: 100%;
  overflow: hidden;
}
.winner {}
.loser {
  opacity: 0.2;
}
.chooser {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.chooser * {
  transition: all .125s var(--transition);
}
.chooser p {
  flex: 1;
  color: var(--text-dimmed);
  font-size: 14px;
}
.chooser p:first-child {
  text-align: right;
}
.chooser p:last-child {
  text-align: left;
}
.chooser .active {
  color: var(--text-white);
  font-weight: 500;
}
