.unit {
  transition: border 0.125s var(--transition);
  flex: 0;
  width: max-content;
}
.Rare {
  box-shadow: inset 0px 0px 8px var(--rare);
}
.Rare:hover {
  box-shadow: inset 0px 0px 16px var(--rare);
  border: 1px solid var(--rare);
}
.Rare .rare {
  color: var(--rare);
}
.unit .title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  height: 16px;
}
.unit .h5 {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-white);
}

.rare {
  font-size: 14px;
  font-family: var(--font-mono);
  font-weight: 600;
}
