.recomendations {
  background: var(--meta-black);
  border: 1px solid var(--accent-3);
  border-radius: var(--border-m);
  width: 100%;
  overflow: hidden;
}
.recomendations > div {
  display: flex;
  flex-direction: column;
  min-height: 300px;
}
.recomendations > div .unit:last-child,
.minimized > div .unit:last-child {
  border: none;
}
.center {
  width: 100%;
  display: flex;
  flex: 1;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}