.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap);
}

.card {
  height: 100%;
}
.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap);
}
.card span {
  font-family: var(--font-mono);
  font-size: var(--text-small);
  color: var(--text-dimmed);
}

.card p {
  display: flex;
  align-items: center;
  color:  var(--text-dimmed);
  font-weight: 500;
  gap: 8px;
} 

.card p:nth-child(3) {
  font-size: 18px;
  font-weight: 600;
  color: var(--white);
  font-family: var(--font-mono);
}

.card p:nth-child(4, 5) img {
  filter: var(--filter-to-dimmed);
}
