<div class="work-window">
  <%- include(`${lang.debugPath}/views/modules/terminal/schedule/body.ejs`, { schedule, lang }) %>
</div>
<%- include(`${lang.debugPath}/views/modules/terminal/schedule/nav.ejs`, { schedule, lang }) %>