.node {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.node p {
  flex: 1;
  text-wrap: nowrap;
  font-size: 14px;
}
.node input {
  width: 128px;
}
.node span {
  font-size: 14px;
  color: var(--text-dimmed);
  flex: 1;
}

.joinable {
  width: min-content;
}
.settings {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.predefined {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.upper_bracket,
.lower_bracket {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.option > span {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 4px;
}
.option p {
  font-size: 14px;
  font-weight: 500;
}
.list > button > button {
  display: flex;
  align-items: center;
  gap: 8px;
}
.tooltip {
  text-transform: none !important;
}
.preview {
  margin-top: 16px;
}
.preview > div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.preview_wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.preview_wrapper h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.banner {
  width: unset;
}
.no_bracket {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex: 1;
}
.active {
  background-color: var(--gray24);
}
.submit {
  align-self: flex-end;
}
.preview {
  max-height: 200px;
  overflow-y: auto;
}
