.videoHolder {
  max-width: 50vw;
  display: flex;
  flex: 0.75;
  align-items: center;
  justify-content: center;
}
.cloud {
  filter: contrast(1.05);
  max-width: 35vw;
}
.challenge {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 80vh;
  flex: 1;
  gap: 16px;
}
.service {
  width: 100%;
  background: var(--geist-background);
  border: 1px solid var(--accent-3);
  border-radius: 12px;
  display: flex;
  height: 196px;
  gap: 8px;
  overflow: hidden;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.left {
  background-image: url(https://cdn.impactium.fun/el/servers.png);
  background-size: cover;
  background-position: center;
  flex: 1;
  height: 100%;
}
.right {
  padding: 8px;
  padding-left: 0;
  flex: 1 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
}
.right hr {
  width: 100%;
  background-color: var(--accent-3);
}
.right h4 {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  gap: 6px;
}
.right h4 img {
  height: 28px;
  width: 28px;
}
.right p {
  flex: 1 1;
  font-size: 16px;
  font-weight: 200;
}
.process {
  background: var(--soft-white);
  color: var(--black);
  cursor: pointer;
  align-self: flex-end;
  border-radius: 8px;
  display: flex;
  gap: .7em;
  padding: .7em 1.2em;
  font-weight: 800;
  align-items: center;
}