.panel {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: calc(100vh - var(--header-height));
  
  padding: 16px;
  gap: 16px;
  background: var(--geist-right-radial-gradient);
  position: relative;
}
.panel[data-splitter] > img {
  width: calc(100% - 32px);
  transform: translateY(50%);
  bottom: 0;
  display: block;
  position: absolute;
}
.panel > img {
  display: none;
}
.panel .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.panel .right {
  flex-direction: column;
}
@media (max-width: 767px) {
  .panel {
    overflow: hidden;
    flex-direction: column;
    justify-content: space-evenly
  }
}