:root {
  --black: #000000;
  --c-16: #161616;
  --c-24: #242424;
  --c-36: #363636;
  --c-48: #484848;
  --c-64: #646464;
  --c-82: #828282;
  --c-96: #929292;
  --w-1: #aaaaaa;
  --w-2: #cccccc;
  --w-3: #e8e8e8;
  --trans: cubic-bezier(.21,.29,0,.94);
  --w: #e8e8e8;
}
.gap {
  gap: 15px;
}
.gap-10 {
  gap: 10px;
}
.absolute {
  position: absolute;
}
.flex {
  display: flex;
}
.inflex {
  display: inline-flex;
}
.flex-dir-row {
  display: flex;
  flex-direction: row;
}
.flex-dir-column {
  display: flex;
  flex-direction: column;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-v {
  display: flex;
  align-items: center;
}
.center-h {
  display: flex;
  justify-content: center;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
.none {
  display: none;
}
.txt-sh {
  text-shadow: 0px 3px 8px #212121;
}
.w-ful {
  width: 100vw;
}
.h {
  height: 100vh;
}
.invert {
  filter: invert(100%);
}
.grid {
  display: grid;
}
.columns-1 {
  grid-template-columns: repeat(1, 1fr);
}
.columns-2 {
  grid-template-columns: repeat(2, 1fr);
}
.columns-3 {
  grid-template-columns: repeat(3, 1fr);
}
.columns-4 {
  grid-template-columns: repeat(4, 1fr);
}
.rows-1 {
  grid-template-rows: repeat(1, 1fr);
}
.rows-2 {
  grid-template-rows: repeat(2, 1fr);
}
.rows-3 {
  grid-template-rows: repeat(3, 1fr);
}
.rows-4 {
  grid-template-rows: repeat(4, 1fr);
}