@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meera+Inimai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Meera+Inimai&display=swap');

* {
  font-family: 'Manrope', sans-serif;
}

body {
  background: #000;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

main {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

header {
  display: flex;
  flex-direction: row; 
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

header div {
  display: flex;
  flex-direction: row;
}

h1 {
  left: 0px;
  font-family: 'Monoton', cursive;
  color: white;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 40px;
  text-align: center; /* Добавлено */
}

h1 span {
  color: transparent;
}

.warning {
  position: absolute;
  bottom: -300px;
  left: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  border-radius: 15px;
  height: auto;
  width: 300px;
  z-index: 15;
  flex-direction: column;
  overflow: hidden;
  opacity: 1;
  padding: 15px;
  font-family: 'Manrope', sans-serif;
  border: 1px solid white;
}

.warning img {
  position: absolute;
  height: auto;
  width: 100%;
  opacity: 0.7;
  margin-top: -15px;
  filter: brightness(0.1) saturate(1%) invert(0%) sepia(100%) saturate(3837%) hue-rotate(0deg) brightness(200%) contrast(40%);
}

.warning-hidden {
  animation: warning-vis 4s ease-in-out forwards;
}

@keyframes warning-vis {
  0% {
    bottom: -300px;
    opacity: 0;
  }
  14% {
    bottom: 50px;
    opacity: 1;
  }
  86% {
    bottom: 50px;
    opacity: 1;
  }
  100% {
    bottom: -300px;
    opacity: 0;
  }
}

.warning h2 {
  text-align: center;
  z-index: 2;
  font-size: 24px;
  margin-bottom: 5px;
  text-shadow: 0px 1px 3px #000;
}

.warning p {
  text-align: center;
  z-index: 2;
  font-size: 16px;
  text-shadow: 0px 1px 3px #000;
}

.card {
  background: #ffffff05;
  width: 100%;
  height: 66%;
  margin-top: calc(25% - 12.5% - 40px);
  border-radius: 15px;
  border: 1.5px solid white;
  backdrop-filter: blur(10px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  padding: 10px;
  gap: 1px;
}

.mode-choose {
  position: relative;
  background: #ffffff30;
  width: 100%;
  border: 1.5px solid white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  color: white;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  overflow: hidden;
}

.mode-choose img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: grayscale(100%) blur(2px);
  opacity: 0.1;
  transition: all 0.2s ease-in-out;
  transform: scale(1.4);
  pointer-events: none;
}

.mode-choose:hover img {
  filter: grayscale(30%) blur(0px);
  opacity: 1;
  transform: scale(1.0);
}

.mode-choose span {
  position: absolute;
  transition: all 0.2s ease-in-out;
}

.mode-choose:hover span {
  text-shadow: 0px 3px 2px #000;
}

.mode-choose:nth-child(1){border-top-left-radius : 15px;}
.mode-choose:nth-child(2){border-top-right-radius : 15px;}
.mode-choose:nth-child(3){border-bottom-left-radius : 15px;}
.mode-choose:nth-child(4){border-bottom-right-radius : 15px;}

.mode-choose:nth-child(1):hover{margin-top: -10px; margin-left: -10px; padding-top: 10px; padding-left: 10px;}
.mode-choose:nth-child(2):hover{margin-top: -10px; margin-right: -10px; padding-top: 10px; padding-right: 10px;}
.mode-choose:nth-child(3):hover{margin-bottom: -10px; margin-left: -10px; padding-bottom: 10px; padding-left: 10px;}
.mode-choose:nth-child(4):hover{margin-bottom: -10px; margin-right: -10px; padding-bottom: 10px; padding-right: 10px;}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.disabled img {
  pointer-events: none;
  cursor: not-allowed;
  filter: brightness(0.6) saturate(1%) invert(0%) sepia(100%) saturate(3837%) hue-rotate(0deg) brightness(200%) contrast(100%);
}

.Btn {
  width: 120px;
  height: 42px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
  background-size: 250%;
  background-position: left;
  color: #ffd277;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  overflow: hidden;
  font-family: 'Manrope', sans-serif;
}

.Btn::before {
  position: absolute;
  content: "";
  color: #ffd277;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Manrope', sans-serif;
  align-items: center;
  justify-content: center;
  width: 97%;
  height: 90%;
  border-radius: 18px;
  transition-duration: 1s;
  background-color: rgba(0, 0, 0, 0.842);
  background-size: 200%;
  font-size: 16px;
  font-weight: 300;
}

.Btn:hover {
  background-position: right;
  transition-duration: 1s;
}

.Btn:hover::before {
  background-position: right;
  transition-duration: 1s;
}

.Btn:active {
  transform: scale(0.95);
}

.Btn a {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.user-info {
  min-width: 120px;
  height: 42px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
  background-size: 250%;
  background-position: left;
  color: #ffd277;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 1s;
  overflow: hidden;
  margin-right: 16px;
  animation-name: background-animation;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  cursor: pointer;
}

.user-info::before {
  position: absolute;
  content: "";
  color: #ffd277;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 6px);
  height: 90%;
  border-radius: 18px;
  transition-duration: 1s;
  background-color: rgba(0, 0, 0, 0.842);
  font-family: 'Manrope', sans-serif;
  background-size: 200%;
  font-size: 20px;
  font-weight: 300;
}

@keyframes background-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}


.user-info p {
  font-family: 'Manrope', sans-serif;
  transform: translateY(0%);
  font-size: 16px;
  font-weight: 300;
}

.user-info-text-wrapper {
  display: flex;
  margin-right: 4px;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: calc(100% - 4px);
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
}

.officer-buttons-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 50px;
  top: 50px;
  z-index: 16;
}

#admin {
  position: relative;
  top: 0px;
  right: 0px;
  width: 140px;
}

#moder {
  width: 140px;
}
/* tablet */
@media (min-width: 1024px) and (max-width: 1240px) {
  .card {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 75%;
    margin-top: calc(12.5% - 20px);
  }
  .card > :nth-child(-n+3) {
    grid-column: span 2;
    grid-row: span 1;
  }
  .card > :nth-child(n+4):nth-child(-n+6) {
    grid-column: span 2;
    grid-row: span 1;
  }
  .card > :nth-child(n+7):nth-child(-n+8) {
    grid-column: span 3;
    grid-row: span 1;
  }
  header {
    justify-content: center;
  } 
  header div {
    margin-left: 25px;
  }
  h1 {
    font-size: 30px;
  }
  .Btn {
    height: 30px;
  }
  #admin {
    height: 30px;
  }
  .user-info {
    height: 30px;
  }

  .avatar img {
    height: 24px;
    width: 24px;
  }  
  #admin {
    top: auto;
    position: fixed;
    bottom: 15px;
    width: 40%;
  }
  .mode-choose:nth-child(1){border-top-left-radius : 15px;border-top-right-radius : 15px;}
  .mode-choose:nth-child(2){border-top-right-radius : 0px;}
  .mode-choose:nth-child(3){border-bottom-left-radius : 0px;}
  .mode-choose:nth-child(4){border-bottom-right-radius : 15px;border-bottom-left-radius : 15px;}



  .mode-choose:nth-child(1):hover{margin-top: -10px; margin-right: -10px; padding-top: 10px; padding-right: 10px; margin-left: -10px; padding-left: 10px;}
  .mode-choose:nth-child(2):hover{margin-left: -10px; padding-left: 10px; margin-right: -10px; padding-right: 10px; margin-top: 0px; padding-top: 0px;}
  .mode-choose:nth-child(3):hover{margin-left: -10px; padding-left: 10px; margin-right: -10px; padding-right: 10px; margin-bottom: 0px; padding-bottom: 0px;}
  .mode-choose:nth-child(4):hover{margin-bottom: -10px; margin-right: -10px; padding-bottom: 10px; padding-right: 10px; margin-left: -10px; padding-left: 10px;}
}

/* tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .card {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 75%;
    margin-top: calc(12.5% - 20px);
  }
  .card > :nth-child(-n+3) {
    grid-column: span 2;
    grid-row: span 1;
  }
  .card > :nth-child(n+4):nth-child(-n+6) {
    grid-column: span 2;
    grid-row: span 1;
  }
  .card > :nth-child(n+7):nth-child(-n+8) {
    grid-column: span 3;
    grid-row: span 1;
  }
  header {
    justify-content: center;
  }
  h1 {
    font-size: 30px;
  }
  .Btn {
    height: 30px;
  }
  #admin {
    height: 30px;
  }
  .user-info {
    height: 30px;
  }

  .avatar img {
    height: 24px;
    width: 24px;
  }  
  #admin {
    top: auto;
    position: fixed;
    bottom: 15px;
    width: 40%;
    left: 30%;
  }
  .mode-choose:nth-child(1){border-top-left-radius : 15px;border-top-right-radius : 15px;}
  .mode-choose:nth-child(2){border-top-right-radius : 0px;}
  .mode-choose:nth-child(3){border-bottom-left-radius : 0px;}
  .mode-choose:nth-child(4){border-bottom-right-radius : 15px;border-bottom-left-radius : 15px;}



  .mode-choose:nth-child(1):hover{margin-top: -10px; margin-right: -10px; padding-top: 10px; padding-right: 10px; margin-left: -10px; padding-left: 10px;}
  .mode-choose:nth-child(2):hover{margin-left: -10px; padding-left: 10px; margin-right: -10px; padding-right: 10px; margin-top: 0px; padding-top: 0px;}
  .mode-choose:nth-child(3):hover{margin-left: -10px; padding-left: 10px; margin-right: -10px; padding-right: 10px; margin-bottom: 0px; padding-bottom: 0px;}
  .mode-choose:nth-child(4):hover{margin-bottom: -10px; margin-right: -10px; padding-bottom: 10px; padding-right: 10px; margin-left: -10px; padding-left: 10px;}

}

/* mobile */
@media (max-width: 768px) {
  main {
    width: 90%;
    justify-content: space-around
  }
  h1 {
    font-size: 30px;
  }
  header {
    top: 0px;
    flex-direction: column;
    align-items: center;
  }
  .language-pack {
    display: none;
  }
  .Btn {
    transform: scale(0.8);
  }
  .user-info {
    transform: scale(0.8);
  }
  #admin {
    top: auto;
    position: fixed;
    bottom: 0px;
    width: 90%;
    left: 5%;
  }
  .card {
    transform: translateY(-30px);
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 66%;
    margin-top: calc(25% - 12.5% - 40px);
  }
  .mode-choose:nth-child(1){border-top-left-radius : 15px;border-top-right-radius : 15px;}
  .mode-choose:nth-child(2){border-top-right-radius : 0px;}
  .mode-choose:nth-child(3){border-bottom-left-radius : 0px;}
  .mode-choose:nth-child(4){border-bottom-right-radius : 15px;border-bottom-left-radius : 15px;}



  .mode-choose:nth-child(1):hover{margin-top: -10px; margin-right: -10px; padding-top: 10px; padding-right: 10px; margin-left: -10px; padding-left: 10px;}
  .mode-choose:nth-child(2):hover{margin-left: -10px; padding-left: 10px; margin-right: -10px; padding-right: 10px; margin-top: 0px; padding-top: 0px;}
  .mode-choose:nth-child(3):hover{margin-left: -10px; padding-left: 10px; margin-right: -10px; padding-right: 10px; margin-bottom: 0px; padding-bottom: 0px;}
  .mode-choose:nth-child(4):hover{margin-bottom: -10px; margin-right: -10px; padding-bottom: 10px; padding-right: 10px; margin-left: -10px; padding-left: 10px;}
}