@media (max-width: 1080px) {
  header {
    padding: 0 2.5%;
    width: calc(100vw - 5%);
  }
  .language-pack {
    top: unset;
    position: fixed;
    bottom: 50px;
  }
}
@media (max-width: 767px) {
.preloader {
  display: flex;
}

header {
  padding: 0 2.5%;
  width: calc(100vw - 5%);
}
h1 {
  font-size: 7vw;
  margin-bottom: -2px;
}
.buttons {
  display: none;
}
#user {
  height: 7vw;
  width: 22vw;
  border-radius: 3.5vw;
}
#user img {
  height: calc(7vw - 2px);
  width: calc(7vw - 2px);
  border-radius: calc(3.5vw - 1px);
}

main {
  position: relative; 
  overflow: hidden;
}
.about-us {
  padding: 0;
  padding-top: 40px;
}
.logout-mobile {
  display: none;
  align-items: center;
  justify-content: center;
  height: 7vw;
  width: 22vw;
  font-weight: 700;
  border-radius: 20px;
  background: #3886C6;
}
.language-pack {
  display: none;
}
.language-pack.flex {
  display: unset;
}
.user-onlogin {
  margin-right: 10px;
  gap: 15px;
}
.panel.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.about-us {
  width: unset;
  height: unset;
}
.guilds-list {
  backdrop-filter: none;
  width: calc(95vw - 8vw);
  padding: 10px;
  border-radius: 25px;
  margin: 0 2.5vw;
  border: 1px solid #23688aa6;
  position: relative;
}
.guild-list-wrapper {
  gap: 10px;
}
.unique-guild {
  width: unset;
  min-width: unset;
}
.unique-guild:hover {
  width: unset;
}
.rocks5 img {
  top: 22vh;
}
body {
  min-height: 120vh;
}
footer .on-close {
  font-size: 0.9rem;
}
footer {
  height: unset;
  align-items: flex-start;
  padding: 3vw 5vw;
  width: calc(100vw - 10vw);
}
.panel.second {
  margin: 150px 0 150px 0;
  flex-direction: column;
  gap: 50px;
  height: unset;
}
.card {
  backdrop-filter: none;
  width: 75vw;
}
.panel.second {
  align-items: center;
}
.bg-mobile {
  position: absolute;
  top: 70vw;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -2;
  display: flex;
}

.bg-mobile img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Обрезать и сохранить пропорции */
}
.temp-button {
  height: 7vw;
  width: 22vw;
  display: none;
}
.temp-button .circle {
  height: 7vw;
  width: 7vw;
}
.temp-button .button-text {
  width: calc(100% - 7vw);
}
.temp-button svg {
  transform: translateX(-3px);
  width: 7vw;
  height: 7vw;
}
.temp-button:hover svg {
  transform: translateX(1vw);
}
}