.header {
  transition: all 0.3s var(--transition);
  height: 80px;
  max-width: 100%;
  z-index: 0;
  position: fixed;
  top: 0px;
  justify-content: space-between;
  padding: 0 16px;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.logo {
  height: 48px;
  gap: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: min-content;
}
.logo p {
  font-size: 30px;
  font-weight: 600;
}
.logo img {
  height: 48px;
}
.session {
  gap: 16px;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: flex-end;
  grid-column: 3 / 4;
}
.verified {
  height: 32px;
  padding: 4px;
  width: 32px;
  border-radius: 11px;
  background-color: var(--gray36);
  cursor: pointer;
}
.verified img {
  height: 24px;
  pointer-events: none;
}

.user {
  display: flex;
  align-items: center;
  color: var(--soft-white);
  font-weight: 500;
  max-width: 256px;
  min-width: 128px;
  height: 48px;
  padding: 6px;
  border-radius: 17px;
  background: var(--gray32);
  position: relative;
  cursor: pointer;
}
.avatar {
  border-radius: 11px;
  height: 38px;
  width: 38px;
  pointer-events: none;
}
.user p {
  padding: 0 6px;
  text-align: center;
  height: 24px;
  flex: 1;
  line-height: 24px;
  font-size: 16px;
  text-shadow: 0px 2px 5px var(--gray32);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: calc(256px - 32px - 16px - 12px);
}
.arrow {
  height: 40px;
  -webkit-user-drag: none;
  user-select: none;
}
.dynamicBubbleButton {
  display: flex;
  cursor: pointer;
  color: var(--soft-white);
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 128px;
  height: 48px;
}
.dynamicBubbleButton path {
  transition: all 0.45s var(--transition);
}
.dynamicBubbleButton:hover path {
  d: path("M2 12H18M18 12L13 7M18 12L13 17");
}
.dynamicBubbleButton svg {
  transform: translateX(-1px);
  transition: all 0.45s var(--transition);
}
.dynamicBubbleButton:hover svg {
  transform: translateX(10px);
}
.dynamicBubbleButton p {
  position: absolute;
  width: calc(100% - 48px);
  right: 0;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}
.dynamicBubbleButton .circle {
  position: absolute;
  margin: 0;
  width: 48px;
  display: flex;
  align-items: center;
  height: 48px;
  background: var(--gray32);
  border-radius: 17px;
  transition: all 0.45s var(--transition);
}
.dynamicBubbleButton:hover .circle {
  width: 100%;
}
@media (max-width: 767px) {
.header {
  grid-template-columns: repeat(2, 1fr);
}
.nav {
  display: none;
}
#logout {
  display: none;
}
.nav button bar {
  backdrop-filter: blur(0px);
}
}
.plate .p-wrapper {
  height: 42px;
  overflow: hidden;
  transition: all 0.2s var(--transition) !important;
}
.plate:hover .p-wrapper {
  height: 0px;
}
.plate:hover h3 {
  font-size: 16px;
}
.plate {
  transition: all 0.2s ease;
  padding: 12px;
  gap: 12px;
}
.plate .text {
  align-items: flex-start;
  justify-content: center;
}
.guild-avatar {
  height: 66px;
  width: 66px;
  min-width: 66px;
  border-radius: 12px;
  background: var(--gray48);
}
.plate:hover {
  background: var(--gray32);
}

.logo.inner-animation {
  animation: inner-logo-animation 0s linear 3.3s forwards;
}
.balance {
  display: flex;
  font-size: 10px;
  line-height: 14px;
  align-items: center;
  height: 14px;
  gap: 4px;
  color: var(--soft-white);
}
.balance::before {
  content: "";
  width: 14px;
  height: 14px;
  background: url(https://cdn.impactium.fun/ux/donate.svg) no-repeat center center;
  display: block;
  background-size: cover;
}

@keyframes inner-logo-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header.flatten {
  max-width: 1344px;
}

.headerBackground {
  z-index: 1;
  top: -80px;
  height: 80px;
  width: 100vw;
  left: 0%;
  position: fixed;
  display: flex;
  background: linear-gradient(180deg,#161616b0,#2d2d2d3d);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  transition: top 0.3s var(--transition);
  border-bottom: 1px solid var(--gray24);
}