
.achievements_module {
  grid-row: 1 / 4;
  grid-column: 2 / 3;
  gap: 16px;
  z-index: 1;
}
.selection_wrapper {
  gap: 8px;
  justify-content: flex-start;
  height: 32px;
}
.selection_wrapper > button {
  padding: 5px;
  cursor: pointer;
  border: 1px solid #0d0d0d;
  background-color: #0d0d0d;
  border-radius: 8px;
  transition: 0.4s all var(--trans);
}
.selection_wrapper > button > img {
  pointer-events: none;
}
.selection_wrapper > button.hammer.selected { border: 1px solid var(--hammer-accent) }
.selection_wrapper > button.casual.selected { border: 1px solid var(--casual-accent) }
.selection_wrapper > button.killer.selected { border: 1px solid var(--killer-accent) }
.selection_wrapper > button.defence.selected { border: 1px solid var(--defence-accent) }
.selection_wrapper > button.event.selected { border: 1px solid var(--event-accent) }
.selection_wrapper > button.donate.selected { border: 1px solid var(--donate-accent) }

.stages.hammer hr { background-color: var(--hammer-accent)}
.stages.casual hr { background-color: var(--casual-accent)}
.stages.killer hr { background-color: var(--killer-accent)}
.stages.defence hr { background-color: var(--defence-accent)}
.stages.event hr { background-color: var(--event-accent)}
.stages.donate hr { background-color: var(--donate-accent)}

.relative_panel {
  position: relative;
  flex: 1;
}
.relative_panel .stages {
  position: absolute;
  display: none;
  flex-direction: column;
  flex: 1;
  gap: 4px;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
.relative_panel .stages .line.bottom {
  height: 0.75em;
  position: absolute;
  width: calc(100% + 2em);
  bottom: -0.75em;
  background: var(--c-48);
  left: -1em;
}
.relative_panel .stages .line.bottom hr {
  height: 100%;
  border: none;
}
.relative_panel .stages.selected {
  display: flex;
}
.stages .stage .icon {
  height: 32px;
  padding: 4px;
}
.stages.defence .stage .icon,
.stages.donate .stage .icon,
.stages.killer .stage .icon {
  image-rendering: pixelated;
}
.stages .stage > .text {
  flex: 1;
  padding: 2px;
  width: -webkit-fill-available;
  gap: 2px;
  font-size: 14px;
}
.stages .stage > .text p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 4px);
}
.stages .stage > .text .grayed {
  color: var(--c-96);
}
.stages .stage .counter {
  min-width: 96px;
  position: relative;
}
.stages .stage .counter > span {
  white-space: nowrap;
  position: absolute;
  transform: translateY(60%);
  text-align: center;
  width: 100%;
}
.stages .stage .counter .line.top {
  width: 100%;
  background-color: var(--c-48);
  height: 4px;
  border-radius: 2px;
}
.stages .stage > .counter .line.top hr {
  height: 4px;
  width: 41.6%;
  border-radius: 2px;
  border: none;
}
.stages .stage .percentage {
  width: 64px;
  text-align: center;
}
.stages .embed {
  border: none;
  height: 1px;
  background-color: var(--c-48) !important;
}
.stages .embed:first-child {
  background-color: transparent !important;
}
.selection_wrapper > div {
  display: none;
}
.selection_wrapper > div.loader.active {
  display: flex;
}
.selection_wrapper > div.loader.active > img {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.achievements_module .reward {
  width: -webkit-fill-available;
  max-height: 96px;
  flex: 1;
  border-radius: 8px;
  overflow: hidden;
  margin: 8px 0;
  background: #161616aa;
  padding: 8px;
}
.achievements_module .reward p.title {
  height: 12px;
  color: var(--w-1);
  font-size: 12px;
  line-height: 12px;
  flex: unset;
}
.achievements_module .reward p.title span {
  color: var(--w);
}
.achievements_module .reward button.activate {
  display: flex;
  cursor: pointer;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: var(--c-16);
  border-radius: 4px;
  padding: 8px;
}
.achievements_module .reward .claim {
  height: 100%;
  overflow: hidden;
  gap: 4px;
}
.achievements_module .reward .claim img {
  background-color: var(--c-16);
  image-rendering: pixelated;
  pointer-events: none;
  border-radius: 4px;
  padding: 4px;
  aspect-ratio: 1 / 1;
  height: 100%;
}
.overlay .achievements_module {
  justify-content: flex-start !important;
}
.achievements_module .selection_wrapper::before,
.achievements_module .selection_wrapper::after {
  display: none;
}
