.server_info {
  --lightness: 100%;
  width: 100%;
  flex-direction: row;
  gap: 1em;
  flex-wrap: wrap;
}
.server_info .default {
  width: fit-content !important;
  flex: unset;
  flex-direction: row;
  align-items: center;
  display: flex !important;
  margin: 0;
  padding: 0.44em 0.88em;
  gap: 0.44em;
  border: none !important;
}
.server_info .default > span {
  color: var(--c-96);
  height: 24px;
  font-size: 16px;
}
.server_info .default > p {
  line-height: 24px;
}
.server_info .default > img {
  height: 20px;
  width: 20px;
}
.server_info .version {
  cursor: default;
}
@media (max-width: 767px) {
  .server_info {
    flex-direction: column;
  }
  .server_info .default {
    width: -webkit-fill-available !important;
    flex: 1;
    justify-content: space-between !important;
  }
  .server_info .default span {
    justify-content: space-between !important;
  }
  .server_info .default p {
    flex: unset;
  }
}