.terminalPanel {
    background-color: #2b2b2b;
    display: flex;
    height: fit-content;
    border: 1px solid #eceff133;
    padding: 0.75em 1em;
    border-radius: 16px;
    height: 66px;
    gap: 0.75em;
}

.terminalPanel > img {
  height: 40px;
  width: 40px;
  padding: 6px;
  border-radius: 8px;
  background-color: var(--c-48);
}

.terminalPanel > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
  flex: 1;
}
.terminalPanel > div > h6 {
  font-size: 14px;
  height: 14px;
}
.terminalPanel .bottomLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.terminalPanel .bottomLine p {
  color: var(--w);
  flex: 1;
  font-size: 12px;
}
.terminalPanel .bottomLine input {
  padding: 3px 8px;
  font-size: 12px;
  border-radius: 8px;
  flex: 1 1;
  background-color: var(--c-0d);
}
.terminalPanel .bottomLine button {
  background-color: var(--c-0d);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  width: 32px;
  border-radius: 8px;
  cursor: pointer;
}
.terminalPanel .bottomLine button img {
  pointer-events: none;
  height: 16px;
  width: 16px;
}