.challenge {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  height: 50vh;
  max-height: 80vh;
  gap: 16px;
}
.challenge h3 {
  font-size: 32px;
}
.service {
  width: 100%;
  background: radial-gradient(100% 100% at 50% 0,hsla(0,0%,100%,.07) 0,hsla(0,0%,100%,0) 100%),linear-gradient(103.94deg,hsla(0,0%,100%,.05) 7.66%,hsla(0,0%,100%,.02) 32.57%,hsla(0,0%,100%,.008) 72.45%,hsla(0,0%,100%,.05) 96.25%);
  border: 1px solid hsla(0,0%,100%,.07);
  flex: 1;
  border-radius: 16px;
  display: flex;
  gap: 8px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.service > div {
  display: flex;
}

.service ul {
  list-style-type: circle;
  list-style-position: inside;
}

.service div,
.service p {
  font-size: 12px;
}

.left {
  padding: 16px;
  padding-right: 0;
  height: 100%;
  align-items: start;
  flex: 0.7;
  flex-direction: column;
  justify-content: space-between;
}

.right {
  flex: 0.3;
  padding: 8px;
  padding-left: 0;
  height: 100%;
  align-items: end;
  justify-content: end;
}

.process {
  background: var(--soft-white);
  color: var(--black);
  border-radius: 8px;
  display: flex;
  gap: .7em;
  padding: .7em 1.2em;
  font-weight: 800;
  align-items: center;
}