@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  /* TEXT */
  --font-nunito: 'Nunito', sans-serif;
  --text-dimmed: #a1a1a1;
  --text-white: #e8e8e8;
  --text-medium: .875rem;
  --text-large: 24px;
  --text-larger: 32px;
  --text-small: 12px;
  --text-medium-height: 1.25rem;

  /* COLOR */
  --black: #000;
  --soft-black: #0d0d0d;
  --meta-black: #0a0a0a;
  --white: #e8e8e8;
  --dimmed: #a1a1a1;

  /* LIMIT */
  --semi-hd: 1366px;
  --width-limit: 1488px;
  --header-height: 64px;
  --content-height: calc(100vh - var(--header-height));

  /* BORDER */
  --round: 100px;
  --border-s: 6px;
  --border-m: 12px;
  --border-l: 18px;
  --geist-border: 1px solid hsla(0,0%,100%,.07);

  
  --transition: cubic-bezier(.21,.29,0,.94);

  --filter-to-dimmed: brightness(0.58);
  --filter-to-black: brightness(0);
  --filter-to-white: brightness(100);

  --geist-background: radial-gradient(100% 100% at 50% 0,hsla(0,0%,100%,.07) 0,hsla(0,0%,100%,0) 100%),linear-gradient(103.94deg,hsla(0,0%,100%,.05) 7.66%,hsla(0,0%,100%,.02) 32.57%,hsla(0,0%,100%,.008) 72.45%,hsla(0,0%,100%,.05) 96.25%);
  
  --shadow-border: 0 0 0 1px hsla(0, 0%, 100%, .145);
  --geist-weak-shadow: 0 0 0 1px hsla(0,0%,100%,.145) ,0px 1px 1px rgba(0,0,0,.02),0px 4px 8px -4px rgba(0,0,0,.04),0px 16px 24px -8px rgba(0,0,0,.06);
  --geist-right-radial-gradient: radial-gradient(50% 50% at 50% 50%, #121212 0, #000 100%);

  --shadow-menu: var(--shadow-border),0px 1px 1px rgba(0,0,0,.02),0px 4px 8px -4px rgba(0,0,0,.04),0px 16px 24px -8px rgba(0,0,0,.06);

  /* PADDING */
  --padding-l: 32px;
  --padding: 24px;
  --padding-m: 20px;
  --padding-s: 16px;

  /* GAP */
  --gap: 12px;
  --gapX2: 24px;

  --gray-100-value: 0, 0%, 10%;
  --gray-200-value: 0, 0%, 12%;
  --gray-300-value: 0, 0%, 16%;
  --gray-400-value: 0, 0%, 18%;
  --gray-500-value: 0, 0%, 27%;
  --gray-600-value: 0, 0%, 53%;
  --gray-700-value: 0, 0%, 56%;
  --gray-800-value: 0, 0%, 49%;
  --gray-900-value: 0, 0%, 63%;
  --gray-1000-value: 0, 0%, 93%;
  --blue-100-value: 216, 50%, 12%;
  --blue-200-value: 214, 59%, 15%;
  --blue-300-value: 213, 71%, 20%;
  --blue-400-value: 212, 78%, 23%;
  --blue-500-value: 211, 86%, 27%;
  --blue-600-value: 206, 100%, 50%;
  --blue-700-value: 212, 100%, 48%;
  --blue-800-value: 212, 100%, 41%;
  --blue-900-value: 210, 100%, 66%;
  --blue-1000-value: 206, 100%, 96%;
  --red-100-value: 357, 37%, 12%;
  --red-200-value: 357, 46%, 16%;
  --red-300-value: 356, 54%, 22%;
  --red-400-value: 357, 55%, 26%;
  --red-500-value: 357, 60%, 32%;
  --red-600-value: 358, 75%, 59%;
  --red-700-value: 358, 75%, 59%;
  --red-800-value: 358, 69%, 52%;
  --red-900-value: 358, 100%, 69%;
  --red-1000-value: 353, 90%, 96%;
  --amber-100-value: 35, 100%, 8%;
  --amber-200-value: 32, 100%, 10%;
  --amber-300-value: 33, 100%, 15%;
  --amber-400-value: 35, 100%, 17%;
  --amber-500-value: 35, 91%, 22%;
  --amber-600-value: 39, 85%, 49%;
  --amber-700-value: 39, 100%, 57%;
  --amber-800-value: 35, 100%, 52%;
  --amber-900-value: 39, 90%, 50%;
  --amber-1000-value: 40, 94%, 93%;
  --green-100-value: 136, 50%, 9%;
  --green-200-value: 137, 50%, 12%;
  --green-300-value: 136, 50%, 14%;
  --green-400-value: 135, 70%, 16%;
  --green-500-value: 135, 70%, 23%;
  --green-600-value: 135, 70%, 34%;
  --green-700-value: 131, 41%, 46%;
  --green-800-value: 132, 43%, 39%;
  --green-900-value: 131, 43%, 57%;
  --green-1000-value: 136, 73%, 94%;
  --teal-100-value: 169, 78%, 7%;
  --teal-200-value: 170, 74%, 9%;
  --teal-300-value: 171, 75%, 13%;
  --teal-400-value: 171, 85%, 13%;
  --teal-500-value: 172, 85%, 20%;
  --teal-600-value: 172, 85%, 32%;
  --teal-700-value: 173, 80%, 36%;
  --teal-800-value: 173, 83%, 30%;
  --teal-900-value: 174, 90%, 41%;
  --teal-1000-value: 166, 71%, 93%;
  --purple-100-value: 283, 30%, 12%;
  --purple-200-value: 281, 38%, 16%;
  --purple-300-value: 279, 44%, 23%;
  --purple-400-value: 277, 46%, 28%;
  --purple-500-value: 274, 49%, 35%;
  --purple-600-value: 272, 51%, 54%;
  --purple-700-value: 272, 51%, 54%;
  --purple-800-value: 272, 47%, 45%;
  --purple-900-value: 275, 80%, 71%;
  --purple-1000-value: 281, 73%, 96%;
  --pink-100-value: 335, 32%, 12%;
  --pink-200-value: 335, 43%, 16%;
  --pink-300-value: 335, 47%, 21%;
  --pink-400-value: 335, 51%, 22%;
  --pink-500-value: 335, 57%, 27%;
  --pink-600-value: 336, 75%, 40%;
  --pink-700-value: 336, 80%, 58%;
  --pink-800-value: 336, 74%, 51%;
  --pink-900-value: 341, 90%, 67%;
  --pink-1000-value: 333, 90%, 96%;
  --gray-alpha-100: hsla(0, 0%, 100%, .06);
  --gray-alpha-200: hsla(0, 0%, 100%, .09);
  --gray-alpha-300: hsla(0, 0%, 100%, .13);
  --gray-alpha-400: hsla(0, 0%, 100%, .14);
  --gray-alpha-500: hsla(0, 0%, 100%, .24);
  --gray-alpha-600: hsla(0, 0%, 100%, .51);
  --gray-alpha-700: hsla(0, 0%, 100%, .54);
  --gray-alpha-800: hsla(0, 0%, 100%, .47);
  --gray-alpha-900: hsla(0, 0%, 100%, .61);
  --gray-alpha-1000: hsla(0, 0%, 100%, .92);
  --background-100: #0a0a0a;
  --background-200: #000;
  --focus-border: 0 0 0 1px var(--gray-alpha-600), 0px 0px 0px 4px hsla(0, 0%, 100%, .24);
  --focus-color: var(--blue-900);
  --shadow-border-inset: inset 0 0 0 1px hsla(0, 0%, 100%, .1);
  --gray-100: hsla(var(--gray-100-value), 1);
  --gray-200: hsla(var(--gray-200-value), 1);
  --gray-300: hsla(var(--gray-300-value), 1);
  --gray-400: hsla(var(--gray-400-value), 1);
  --gray-500: hsla(var(--gray-500-value), 1);
  --gray-600: hsla(var(--gray-600-value), 1);
  --gray-700: hsla(var(--gray-700-value), 1);
  --gray-800: hsla(var(--gray-800-value), 1);
  --gray-900: hsla(var(--gray-900-value), 1);
  --gray-1000: hsla(var(--gray-1000-value), 1);
  --blue-100: hsla(var(--blue-100-value), 1);
  --blue-200: hsla(var(--blue-200-value), 1);
  --blue-300: hsla(var(--blue-300-value), 1);
  --blue-400: hsla(var(--blue-400-value), 1);
  --blue-500: hsla(var(--blue-500-value), 1);
  --blue-600: hsla(var(--blue-600-value), 1);
  --blue-700: hsla(var(--blue-700-value), 1);
  --blue-800: hsla(var(--blue-800-value), 1);
  --blue-900: hsla(var(--blue-900-value), 1);
  --blue-1000: hsla(var(--blue-1000-value), 1);
  --amber-100: hsla(var(--amber-100-value), 1);
  --amber-200: hsla(var(--amber-200-value), 1);
  --amber-300: hsla(var(--amber-300-value), 1);
  --amber-400: hsla(var(--amber-400-value), 1);
  --amber-500: hsla(var(--amber-500-value), 1);
  --amber-600: hsla(var(--amber-600-value), 1);
  --amber-700: hsla(var(--amber-700-value), 1);
  --amber-800: hsla(var(--amber-800-value), 1);
  --amber-900: hsla(var(--amber-900-value), 1);
  --amber-1000: hsla(var(--amber-1000-value), 1);
  --red-100: hsla(var(--red-100-value), 1);
  --red-200: hsla(var(--red-200-value), 1);
  --red-300: hsla(var(--red-300-value), 1);
  --red-400: hsla(var(--red-400-value), 1);
  --red-500: hsla(var(--red-500-value), 1);
  --red-600: hsla(var(--red-600-value), 1);
  --red-700: hsla(var(--red-700-value), 1);
  --red-800: hsla(var(--red-800-value), 1);
  --red-900: hsla(var(--red-900-value), 1);
  --red-1000: hsla(var(--red-1000-value), 1);
  --green-100: hsla(var(--green-100-value), 1);
  --green-200: hsla(var(--green-200-value), 1);
  --green-300: hsla(var(--green-300-value), 1);
  --green-400: hsla(var(--green-400-value), 1);
  --green-500: hsla(var(--green-500-value), 1);
  --green-600: hsla(var(--green-600-value), 1);
  --green-700: hsla(var(--green-700-value), 1);
  --green-800: hsla(var(--green-800-value), 1);
  --green-900: hsla(var(--green-900-value), 1);
  --green-1000: hsla(var(--green-1000-value), 1);
  --teal-100: hsla(var(--teal-100-value), 1);
  --teal-200: hsla(var(--teal-200-value), 1);
  --teal-300: hsla(var(--teal-300-value), 1);
  --teal-400: hsla(var(--teal-400-value), 1);
  --teal-500: hsla(var(--teal-500-value), 1);
  --teal-600: hsla(var(--teal-600-value), 1);
  --teal-700: hsla(var(--teal-700-value), 1);
  --teal-800: hsla(var(--teal-800-value), 1);
  --teal-900: hsla(var(--teal-900-value), 1);
  --teal-1000: hsla(var(--teal-1000-value), 1);
  --purple-100: hsla(var(--purple-100-value), 1);
  --purple-200: hsla(var(--purple-200-value), 1);
  --purple-300: hsla(var(--purple-300-value), 1);
  --purple-400: hsla(var(--purple-400-value), 1);
  --purple-500: hsla(var(--purple-500-value), 1);
  --purple-600: hsla(var(--purple-600-value), 1);
  --purple-700: hsla(var(--purple-700-value), 1);
  --purple-800: hsla(var(--purple-800-value), 1);
  --purple-900: hsla(var(--purple-900-value), 1);
  --purple-1000: hsla(var(--purple-1000-value), 1);
  --pink-100: hsla(var(--pink-100-value), 1);
  --pink-200: hsla(var(--pink-200-value), 1);
  --pink-300: hsla(var(--pink-300-value), 1);
  --pink-400: hsla(var(--pink-400-value), 1);
  --pink-500: hsla(var(--pink-500-value), 1);
  --pink-600: hsla(var(--pink-600-value), 1);
  --pink-700: hsla(var(--pink-700-value), 1);
  --pink-800: hsla(var(--pink-800-value), 1);
  --pink-900: hsla(var(--pink-900-value), 1);
  --pink-1000: hsla(var(--pink-1000-value), 1);
}

*:not(svg, svg *) {
  -webkit-tap-highlight-color: transparent;
  font-family: var(--font-sans);
  font-size: 14px;
  -webkit-user-select: none;
  scroll-behavior: smooth;
  -moz-user-select: none;
  box-sizing: border-box;
  text-decoration: none;
  -ms-user-select: none;
  letter-spacing: 0.5px;
  user-select: none;
  background: none;
  font-weight: 300;
  line-height: 1;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}
img {
  -webkit-user-drag: none;
}

ul {
  list-style-type: none;
}
li::marker {
  display: none;

}
html,
body {
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden !important;
  overflow-y: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  overflow: unset;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

main {
  min-height: calc(100vh - var(--header-height));
  margin-top: var(--header-height);
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body[data-scroll-locked] {
  transform: translateX(4px) !important;
}
main > div {
  min-height: calc(100vh - var(--header-height)) !important;
}
[data-nextjs-dialog-overlay] {
  user-select: all;
}
hr {
  border: none;
  height: 1px;
  width: 1px;
}
hr[datatype='horizontal'] {
  width: 100%;
}
hr[datatype='vertical'] {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
input:disabled ~ .label {
  cursor: not-allowed;
  opacity: 0.7;
}
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  position: absolute;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: var(--soft-black);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--text-white);
  border-radius: 10px;
}
*::-webkit-scrollbar-corner {
  background-color: transparent;
}
