@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --font-nunito: 'Nunito', sans-serif;
  --black: #000;
  --white: #fff;
  --soft-white: #e8e8e8;
  --soft-black: #0d0d0d;
  --meta-black: #0a0a0a;

  --semi-hd: 1366px;
  
  --gray16: #161616;
  --gray24: #242424;
  --gray32: #323232;
  --gray48: #484848;
  --gray64: #646464;
  --gray80: #808080;
  --gray96: #929292;

  --width-limit: 1488px;

  --text-dimmed: #a1a1a1;
  --text-white: #e8e8e8;
  --text-medium: .875rem;
  --text-large: 24px;
  --text-larger: 32px;
  --text-small: 12px;
  --text-medium-height: 1.25rem;

  --header-height: 64px;
  
  --transition: cubic-bezier(.21,.29,0,.94);
  --round: 100px;
  --border-s: 6px;
  --border-m: 12px;
  --border-l: 18px;

  --filter-to-e8e8e8: brightness(0.58);
  --filter-to-black: brightness(0);
  --filter-to-white: brightness(100);

  --geist-background: radial-gradient(100% 100% at 50% 0,hsla(0,0%,100%,.07) 0,hsla(0,0%,100%,0) 100%),linear-gradient(103.94deg,hsla(0,0%,100%,.05) 7.66%,hsla(0,0%,100%,.02) 32.57%,hsla(0,0%,100%,.008) 72.45%,hsla(0,0%,100%,.05) 96.25%);
  --geist-border: 1px solid hsla(0,0%,100%,.07);
  --shadow-border: 0 0 0 1px hsla(0, 0%, 100%, .145);
  --geist-weak-shadow: 0 0 0 1px hsla(0,0%,100%,.145) ,0px 1px 1px rgba(0,0,0,.02),0px 4px 8px -4px rgba(0,0,0,.04),0px 16px 24px -8px rgba(0,0,0,.06);
  --geist-right-radial-gradient: radial-gradient(50% 50% at 50% 50%, #121212 0, #000 100%);

  --shadow-menu: var(--shadow-border),0px 1px 1px rgba(0,0,0,.02),0px 4px 8px -4px rgba(0,0,0,.04),0px 16px 24px -8px rgba(0,0,0,.06);

  --accent-1: #111;
  --accent-2: #222;
  --accent-3: #333;
  --accent-4: #444;
  --accent-5: #555;
  --accent-6: #666;
  --accent-7: #777;
  --accent-8: #888;

  --geist-green: #31dd59;
  --geist-blue: #0070f3;
  --geist-sky: #52a8ff;
  --geist-yellow: #f3c600;
  --geist-red: #f30000;

  --card-padding: 24px;
  --card-gap: 12px;

  --panel-gap: 16px;
}

* {
  -webkit-tap-highlight-color: transparent;
  font-family: var(--font-sans);
  -webkit-user-select: none;
  color: var(--soft-white);
  scroll-behavior: smooth;
  -moz-user-select: none;
  box-sizing: border-box;
  text-decoration: none;
  -ms-user-select: none;
  letter-spacing: 0.5px;
  user-select: none;
  background: none;
  font-weight: 300;
  line-height: 1;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}
img {
  -webkit-user-drag: none;
}

ul {
  list-style-type: none;
}
li::marker {
  display: none;

}
html,
body {
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  overflow: unset;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

main {
  min-height: calc(100vh - var(--header-height));
  margin-top: var(--header-height);
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main > div {
  min-height: calc(100vh - var(--header-height)) !important;
}
[data-nextjs-dialog-overlay] {
  user-select: all;
}
hr {
  border: none;
  height: 1px;
  width: 1px;
}
hr[datatype='horizontal'] {
  width: 100%;
}
hr[datatype='vertical'] {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
input:disabled ~ .label {
  cursor: not-allowed;
  opacity: 0.7;
}
