.card {
  width: min-content;
}
.node {
  display: flex;
  gap: 12px;
  align-items: center;
  flex-wrap: wrap;
}
.node svg {
  display: inline;
  min-width: 28px;
  height: 28px;
}
.wrap {
  display: flex;
  gap: 12px;
  align-items: center;
  flex-direction: row;
}
.node button {
  flex: 1;
}
.spin {
  animation: spin 1s linear infinite;
}
.node p {
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
}
@keyframes spin {
  100% {
    transform: rotateZ(1turn);
  }
}
.confirmation_group {
  display: flex;
  gap: 8px;
  flex-direction: row;
}