<style>
  .content {
    padding-left: 10px;
  }
  .content > .folders > .folder {
    height: 0px;
  }
  .content.active > .folders > .folder {
    height: unset;
  }
  .content > 
</style>
<% function renderFolder(folderData) { %>
  <div class="folder">
    <button onclick="toggleFolderVisibility(this)"><%= folderData.folderName %></button>
    <div class="content">
      <% if (Object.keys(folderData.folders).length > 0) { %>
        <div class="folders">
          <% for (const subFolderName in folderData.folders) { %>
            <%= renderFolder({ folderName: subFolderName, ...folderData.folders[subFolderName] }) %>
          <% } %>
        </div>
      <% } %>
      <% if (folderData.files.length > 0) { %>
        <div class="files">
          <% folderData.files.forEach(file => { %>
            <button><%= file %></button>
          <% }) %>
        </div>
      <% } else if (folderData.files.length === 0 && Object.keys(folderData.folders).length === 0) { %>
      <% } %>
    </div>
  </div>
<% } %>

<%= renderFolder({ folderName: 'My Project', ...filesAndFolders }) %>

<script>
function toggleFolderVisibility(block) {
  const folder = block.parentElement;
  const content = folder.querySelector('content');

  if (content.classList.contains('active')) {
    content.classList.remove('active');
  } else {
    content.classList.add('active');
  }
}
</script>

  