<style>
        h2 {
      margin-top: 0;
    }
    ul {
      list-style: none;
      padding-left: 0;
    }
    li {
      margin: 5px 0;
    }
    .file {
      color: #0366d6;
    }
    p {
      margin: 0;
    }
</style>
<% function renderFolder(folderData) { %>
    <h2><%= folderData.folderName %></h2>
    <% if (folderData.files.length > 0) { %>
      <ul>
        <% folderData.files.forEach(file => { %>
          <li><%= file %></li>
        <% }) %>
      </ul>
    <% } else if (folderData.files.length === 0 && Object.keys(folderData.folders).length === 0) { %>
      <p>Папка пустая</p>
    <% } %>
    <% if (Object.keys(folderData.folders).length > 0) { %>
      <% for (const subFolderName in folderData.folders) { %>
        <%= renderFolder({ folderName: subFolderName, ...folderData.folders[subFolderName] }) %>
      <% } %>
    <% } %>
  <% } %>
  
  <nav class="flex flex-dir-column">
    <%= renderFolder({ folderName: 'Root', ...filesAndFolders }) %>
  </nav>
  
  