.wrapper {
  background: var(--soft-black);
  max-width: var(--width-limit);
  min-width: 30vh;
  max-height: calc(var(--content-height) - 128px);
  padding: 16px;
  display: flex;
  border: 1px solid var(--gray-400);
  background-clip: padding-box;
  z-index: 1;
  transition: all 0.15s var(--transition); 
}
.heading {
  margin-bottom: 8px;
}
.heading > h3 {
  font-size: 18px;
}
.combination {
  width: 100%;
}
.combination div:first-child {
  border-radius: 4px;
  image-rendering: pixelated;
}
.combination img {
  height: 64px;
  width: 64px;
}
.label {
  min-width: 96px;
}