.main {

}
.main form {
  max-width: 720px;
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: stretch;
  width: 100%;
}

.noPreviousExperience {
  min-height: 128px;
  width: 100%;
  color: var(--text-dimmed);
}
.noPreviousExperience p {
  font-size: 18px;
  font-family: var(--font-mono);
  color: currentColor;
}
.years_indicator {
  background-color: var(--meta-black);
  border: 1px solid var(--gray-400);
  font-size: 14px;
  font-weight: 500;
  font-family: var(--font-mono);
  padding: 6px 8px;
  border-radius: 4px;
}
.dimmed {
  color: var(--text-dimmed);
  pointer-events: none;
}