.main {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  flex-direction: row;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex: 1;
  max-width: 720px;
}

.nav {
  display: flex;
  flex-direction: column;
  position: sticky;
  flex-wrap: wrap;
  top: 80px;
  width: 256px;
}

.nav a {
  height: 40px;
  line-height: 40px;
  padding: 0 8px;
  border-radius: var(--border-s);
  white-space: nowrap;
  font-size: var(--text-small);
  font-weight: 600;
  color: var(--text-dimmed);
}

.nav a:hover,
.nav a.active {
  color: var(--text-white);
  background: var(--soft-black);
}
.account .avatar {
  right: 24px;
}
.account .avatar:hover {
  box-shadow: 0 0 0 1px var(--white), 0 0 0 4px hsla(0, 0%, 100%, .24);
}
.connections .list {
  background: var(--black);
  padding: 16px 20px;
  border-radius: 6px;
  border: 1px solid var(--gray-400);
}
.group {
  display: flex;
  flex-direction: column;
  gap: var(--padding-l);
}
.account .unit p {
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.2;
}
.account .unit code img {
  height: 16px;
}
.connections section {
  flex-direction: column;
  gap: 24px;
}
@media all and (max-width: 768px) {
  .page {
    flex-direction: column;
    align-items: center;
  }
  .nav {
    flex-direction: row;
    top: var(--header-height);
    z-index: 2;
    margin-top: -20px;
    padding: 8px;
    width: calc(100% + 32px);
    background-color: var(--black);
    border-bottom: 1px solid var(--gray-alpha-400);
  }
  .account .unit code {
    display: unset;
    max-width: 40%;
  }
  .account .unit code img  {
    display: none;
  }
}
.min {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.verified {
  right: 16px;
  top: 16px;
}
.before {
  padding: 8px 12px;
  height: 32px;
  background: var(--gray16);
  border-radius: var(--border-s) 0 0 var(--border-s);
  border: 1px solid var(--gray-alpha-400);
  border-right: none;
  font-size: 14px;
  font-weight: 600;
  color: var(--accent-6);
  display: flex;
  align-items: center;
  font-family: var(--font-mono);
}
.account input {
  line-height: 32px;
  background: var(--black);
  font-weight: 500;
  box-shadow: none !important;
  width: 256px;
}
.min input {
  border-radius: 0 var(--border-s) var(--border-s) 0;
}
.login_method {
  z-index: 0;
  position: absolute;
  transform: translateX(50%);
}