.page {
  align-items: flex-start !important;
  flex-direction: row;
}
.page h3 {
  padding: 0 20px !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--padding-s);
  flex: 1;
}

.nav {
  display: flex;
  flex-direction: column;
  position: sticky;
  flex-wrap: wrap;
  top: 80px;
  width: 256px;
}

.nav a {
  height: 40px;
  line-height: 40px;
  padding: 0 8px;
  border-radius: var(--border-s);
  white-space: nowrap;
  font-size: var(--text-small);
  font-weight: 600;
  color: var(--text-dimmed);
}

.nav a:hover,
.nav a.active {
  color: var(--text-white);
  background: var(--soft-black);
}

.account > div {
  gap: 24px;
}

.account .avatar {
  position: absolute;
  right: 24px;
  transition: all 0.3s var(--transition);
  cursor: pointer;
}
.account .avatar:hover {
  box-shadow: 0 0 0 1px var(--soft-white), 0 0 0 4px hsla(0, 0%, 100%, .24);
}
.account section {
  background: var(--black);
  padding: 24px 16px;
  border: 1px solid var(--accent-3);
  border-radius: var(--border-s);
  display: flex;
  gap: var(--gap);
  align-items: center;
}
.account .unit {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap);
  width: 100%;
}
.group {
  display: flex;
  flex-direction: row;
  gap: var(--padding-s);
}
.account .unit > img {
  height: 32px;
  width: 32px;
  border-radius: var(--round);
}
.account .unit p {
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.2;
}
.account .unit code {
  font-family: var(--font-mono);
  background: var(--soft-black);
  padding: 8px 12px;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  gap: 8px;
  border: 1px solid var(--accent-3);
  border-radius: var(--border-s);
  align-items: center;
}
.account .unit code img {
  height: 16px;
}
.balance > div {
  flex-direction: row;
}
.balance .stack {
  flex: 1;
  display: flex;
  gap: var(--padding);
  flex-direction: column;
}
.balance_amount {
  display: flex;
  align-items: center;
  font-size: var(--text-larger);
  font-family: var(--font-mono);
  gap: var(--gap);
}
.balance_amount img {
  height: 42px;

}
.connections section {
  flex-direction: column;
  gap: 24px;
}
@media all and (max-width: 1366px) {
  .group {
    flex-direction: column;
  }
}
@media all and (max-width: 768px) {
  .page {
    flex-direction: column;
    align-items: center;
  }
  .nav {
    flex-direction: row;
    top: var(--header-height);
    z-index: 2;
    margin-top: -20px;
    padding: 8px;
    width: calc(100% + 32px);
    background-color: var(--black);
    border-bottom: 1px solid var(--accent-3);
  }
  .account .unit code {
    display: unset;
    max-width: 40%;
  }
  .account .unit code img  {
    display: none;
  }
}
